In [1]:
import pandas as pd
import numpy as np

In [133]:
address_pop = 'C:/Users/Oscar Gomez/Desktop/Data Analyst/P3/FAO_2013_fr/fr_population.csv'
population = pd.read_csv(address_pop)
population = population.drop(columns = ['Code Domaine','Domaine','Code Élément','Code Produit',
                                        'Produit','Code année','Symbole','Description du Symbole',
                                       'Élément','Année','Unité'])
population = population.rename(columns = {'Valeur':'Population'})
population.head(10)

   Code zone                Zone  Population
0          2         Afghanistan       30552
1        202      Afrique du Sud       52776
2          3             Albanie        3173
3          4             Algérie       39208
4         79           Allemagne       82727
5          7              Angola       21472
6          8  Antigua-et-Barbuda          90
7        194     Arabie saoudite       28829
8          9           Argentine       41446
9          1             Arménie        2977

In [4]:
print(sum(population.Population))

8413993

In [5]:
population.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bangladesh', 'Barbade', 'Bélarus', 'Belgique', 'Belize', 'Bénin',
       'Bermudes', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Brunéi Darussalam',
       'Bulgarie', 'Burkina Faso', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba', 'Danemark',
       'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Mongolie', 'Monténégro', 'Mozambique', 'Myanmar',
       'Namibie', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Portugal', 'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique populaire lao',
       'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Sierra Leone', 'Slovaquie', 'Slovénie',
       'Soudan', 'Sri Lanka', 'Suède', 'Suisse', 'Suriname',
       'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [6]:
population.iloc[30:40]

    Code zone                       Zone  Population
30         32                   Cameroun       22254
31         33                     Canada       35182
32         40                      Chili       17620
33        351                      Chine     1416667
34         96   Chine - RAS de Hong-Kong        7204
35        128       Chine - RAS de Macao         566
36         41        Chine, continentale     1385567
37        214  Chine, Taiwan Province de       23330
38         50                     Chypre        1141
39         44                   Colombie       48321

In [7]:
pop_df = pd.DataFrame(population)
pop_df = pop_df.drop([33])
pop_mondiale = sum(pop_df.Population)*1000
print('En 2013, la population mondiale était de {} personnes'.format(pop_mondiale))

En 2013, la population mondiale était de 6997326000 personnes

In [8]:
address_anim = 'C:/Users/Oscar Gomez/Desktop/Data Analyst/P3/FAO_2013_fr/fr_animaux.csv'
animaux = pd.read_csv(address_anim)
animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [9]:
anim_df = pd.DataFrame(animaux)
anim_df = anim_df.drop(columns = ['Code Domaine', 'Domaine', 'Code année', 'Année', 'Symbole', 'Description du Symbole'])
anim_df.head(10)

,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Unité,Valeur
0,2,Afghanistan,5511,Production,2731,Viande de Bovins,Milliers de tonnes,134.00
1,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,Milliers de tonnes,6.00
2,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,Milliers de tonnes,140.00
3,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,Milliers de tonnes,140.00
4,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,kg,4.59
5,2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2731,Viande de Bovins,Kcal/personne/jour,27.00
6,2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,g/personne/jour,1.89
7,2,Afghanistan,684,Disponibilité de matière grasse en quantité (g...,2731,Viande de Bovins,g/personne/jour,2.10
8,2,Afghanistan,5511,Production,2732,Viande d'Ovins/Caprins,Milliers de tonnes,150.00
9,2,Afghanistan,5301,Disponibilité intérieure,2732,Viande d'Ovins/Caprins,Milliers de tonnes,150.00

In [10]:
anim_df_ok = anim_df.pivot(index=['Zone','Produit'],columns='Élément', values='Valeur')
anim_df_ok = anim_df_ok.rename_axis(None, axis=1)
anim_df_ok.reset_index(inplace=True)
anim_df_ok.head(10)

,Zone,Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36.0,NaN,0.0,36.0,NaN,36.0,NaN,NaN,NaN
2,Afghanistan,Crème,NaN,NaN,3.0,0.60,0.32,0.04,18.0,NaN,18.0,18.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,15.0,NaN,1.0,15.0,NaN,14.0,NaN,NaN,NaN
4,Afghanistan,Lait - Excl Beurre,123.0,NaN,100.0,62.23,5.19,6.12,2083.0,0.0,248.0,1901.0,58.0,1835.0,NaN,NaN,NaN
5,Afghanistan,Oeufs,NaN,NaN,5.0,1.30,0.36,0.38,47.0,NaN,29.0,40.0,5.0,18.0,2.0,NaN,NaN
6,Afghanistan,Poissons Eau Douce,NaN,0.0,0.0,0.07,0.00,0.02,2.0,NaN,0.0,2.0,NaN,2.0,NaN,NaN,NaN
7,Afghanistan,Viande d'Ovins/Caprins,NaN,NaN,31.0,4.92,2.55,1.91,150.0,NaN,NaN,150.0,NaN,150.0,NaN,NaN,NaN
8,Afghanistan,Viande de Bovins,NaN,NaN,27.0,4.59,2.10,1.89,140.0,NaN,6.0,140.0,NaN,134.0,NaN,NaN,NaN
9,Afghanistan,Viande de Volailles,NaN,NaN,9.0,2.45,0.53,0.87,75.0,NaN,48.0,75.0,NaN,26.0,NaN,NaN,NaN

In [11]:
anim_df_ok = anim_df_ok[['Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 
                         'Disponibilité alimentaire en quantité (kg/personne/an)', 
                         'Disponibilité de matière grasse en quantité (g/personne/jour)',
                         'Disponibilité de protéines en quantité (g/personne/jour)',
                         'Disponibilité intérieure', 'Production', 'Importations - Quantité', 'Exportations - Quantité',
                         'Variation de stock', 'Nourriture', 'Pertes', 'Semences', 'Traitement', 'Aliments pour animaux',
                         'Autres utilisations (non alimentaire)']]
anim_df_ok.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,53.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,36.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,NaN,18.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,14.0,1.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,18.0,29.0,NaN,NaN,40.0,5.0,2.0,NaN,NaN,NaN
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,2.0,0.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0.0
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,150.0,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,134.0,6.0,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,26.0,48.0,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN

In [12]:
address_cer = 'C:/Users/Oscar Gomez/Desktop/Data Analyst/P3/FAO_2013_fr/fr_céréales.csv'
cereales = pd.read_csv(address_cer)
cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [13]:
cer_df = pd.DataFrame(cereales)
cer_df = cer_df.drop(columns = ['Code Domaine', 'Domaine', 'Code année', 'Année', 'Symbole', 'Description du Symbole'])
cer_df.head(10)

,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Unité,Valeur
0,2,Afghanistan,5511,Production,2511,Blé,Milliers de tonnes,5169
1,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),Milliers de tonnes,342
2,2,Afghanistan,5511,Production,2513,Orge,Milliers de tonnes,514
3,2,Afghanistan,5511,Production,2514,Maïs,Milliers de tonnes,312
4,2,Afghanistan,5511,Production,2517,Millet,Milliers de tonnes,13
5,202,Afrique du Sud,5511,Production,2511,Blé,Milliers de tonnes,1870
6,202,Afrique du Sud,5511,Production,2805,Riz (Eq Blanchi),Milliers de tonnes,3
7,202,Afrique du Sud,5511,Production,2513,Orge,Milliers de tonnes,268
8,202,Afrique du Sud,5511,Production,2514,Maïs,Milliers de tonnes,11811
9,202,Afrique du Sud,5511,Production,2515,Seigle,Milliers de tonnes,2

In [14]:
cer_df_ok = cer_df.pivot(index=['Zone','Produit'],columns='Élément', values='Valeur')
cer_df_ok = cer_df_ok.rename_axis(None, axis=1)
cer_df_ok.reset_index(inplace=True)
cer_df_ok.head(10)

             Zone           Produit  Production
0     Afghanistan               Blé        5169
1     Afghanistan              Maïs         312
2     Afghanistan            Millet          13
3     Afghanistan              Orge         514
4     Afghanistan  Riz (Eq Blanchi)         342
5  Afrique du Sud            Avoine          28
6  Afrique du Sud               Blé        1870
7  Afrique du Sud  Céréales, Autres          19
8  Afrique du Sud              Maïs       11811
9  Afrique du Sud            Millet           7

In [15]:
address_veg = 'C:/Users/Oscar Gomez/Desktop/Data Analyst/P3/FAO_2013_fr/fr_vegetaux.csv'
vegetaux = pd.read_csv(address_veg)
vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [16]:
veg_df = pd.DataFrame(vegetaux)
veg_df = veg_df.drop(columns = ['Code Domaine', 'Domaine', 'Code année', 'Année', 'Symbole', 'Description du Symbole'])
veg_df.head(10)

,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Unité,Valeur
0,2,Afghanistan,5511,Production,2511,Blé,Milliers de tonnes,5169.00
1,2,Afghanistan,5611,Importations - Quantité,2511,Blé,Milliers de tonnes,1173.00
2,2,Afghanistan,5072,Variation de stock,2511,Blé,Milliers de tonnes,-350.00
3,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,Milliers de tonnes,5992.00
4,2,Afghanistan,5527,Semences,2511,Blé,Milliers de tonnes,322.00
5,2,Afghanistan,5123,Pertes,2511,Blé,Milliers de tonnes,775.00
6,2,Afghanistan,5142,Nourriture,2511,Blé,Milliers de tonnes,4895.00
7,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,kg,160.23
8,2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,Kcal/personne/jour,1369.00
9,2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,g/personne/jour,36.91

In [17]:
veg_df_ok = veg_df.pivot(index=['Zone','Produit'],columns='Élément', values='Valeur')
veg_df_ok = veg_df_ok.rename_axis(None, axis=1)
veg_df_ok.reset_index(inplace=True)
veg_df_ok.head(10)

,Zone,Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
1,Afghanistan,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,Blé,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0
6,Afghanistan,Boissons Alcooliques,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,Café,NaN,NaN,0.0,0.00,NaN,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Coco (Incl Coprah),NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,"Céréales, Autres",NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [18]:
veg_df_ok = veg_df_ok[['Zone', 'Produit', 'Disponibilité alimentaire (Kcal/personne/jour)', 
                         'Disponibilité alimentaire en quantité (kg/personne/an)', 
                         'Disponibilité de matière grasse en quantité (g/personne/jour)',
                         'Disponibilité de protéines en quantité (g/personne/jour)',
                         'Disponibilité intérieure', 'Production', 'Importations - Quantité', 'Exportations - Quantité',
                         'Variation de stock', 'Nourriture', 'Pertes', 'Semences', 'Traitement', 'Aliments pour animaux',
                         'Autres utilisations (non alimentaire)']]
veg_df_ok.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
0,Afghanistan,"Agrumes, Autres",1.0,1.29,0.01,0.02,41.0,3.0,40.0,2.0,NaN,39.0,2.0,NaN,NaN,NaN,NaN
1,Afghanistan,Aliments pour enfants,1.0,0.06,0.01,0.03,2.0,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Ananas,0.0,0.00,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Bananes,4.0,2.70,0.02,0.05,82.0,NaN,82.0,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bière,0.0,0.09,NaN,0.00,3.0,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,Blé,1369.0,160.23,4.69,36.91,5992.0,5169.0,1173.0,NaN,-350.0,4895.0,775.0,322.0,NaN,NaN,NaN
6,Afghanistan,Boissons Alcooliques,0.0,0.00,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,Café,0.0,0.00,NaN,0.00,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Coco (Incl Coprah),0.0,0.00,0.00,0.00,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,"Céréales, Autres",0.0,0.00,0.00,0.00,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [19]:
address_sousalim = 'C:/Users/Oscar Gomez/Desktop/Data Analyst/P3/FAO_2013_fr/fr_sousalimentation.csv'
sub_alimentation = pd.read_csv(address_sousalim)
sub_alimentation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [20]:
sub_alim_df = pd.DataFrame(sub_alimentation)
sub_alim_df = sub_alim_df.drop(columns = ['Code Domaine','Domaine','Code Élément','Code Produit',
                               'Code année','Unité','Symbole','Description du Symbole', 'Note'])
sub_alim_df.head(10)

,Code zone,Zone,Élément,Produit,Année,Valeur
0,2,Afghanistan,Valeur,Nombre de personnes sous-alimentées (millions)...,2012-2014,7.9
1,2,Afghanistan,Valeur,Nombre de personnes sous-alimentées (millions)...,2013-2015,8.8
2,2,Afghanistan,Valeur,Nombre de personnes sous-alimentées (millions)...,2014-2016,9.6
3,2,Afghanistan,Valeur,Nombre de personnes sous-alimentées (millions)...,2015-2017,10.2
4,2,Afghanistan,Valeur,Nombre de personnes sous-alimentées (millions)...,2016-2018,10.6
5,202,Afrique du Sud,Valeur,Nombre de personnes sous-alimentées (millions)...,2012-2014,2.6
6,202,Afrique du Sud,Valeur,Nombre de personnes sous-alimentées (millions)...,2013-2015,2.8
7,202,Afrique du Sud,Valeur,Nombre de personnes sous-alimentées (millions)...,2014-2016,3.2
8,202,Afrique du Sud,Valeur,Nombre de personnes sous-alimentées (millions)...,2015-2017,3.4
9,202,Afrique du Sud,Valeur,Nombre de personnes sous-alimentées (millions)...,2016-2018,3.5

In [21]:
sub_alim_df_ok = sub_alim_df.pivot(index=['Code zone','Zone','Produit'],columns='Année', values='Valeur')
sub_alim_df_ok = sub_alim_df_ok.rename_axis(None, axis=1)
sub_alim_df_ok.reset_index(inplace=True)
sub_alim_df_ok.head(10)

,Code zone,Zone,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
5,6,Andorre,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
6,7,Angola,Nombre de personnes sous-alimentées (millions)...,8.1,7.6,7.4,7.4,7.4
7,8,Antigua-et-Barbuda,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
8,9,Argentine,Nombre de personnes sous-alimentées (millions)...,1.5,1.5,1.6,1.8,2.1
9,10,Australie,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN

In [22]:
alim_df = pd.concat([anim_df_ok,veg_df_ok], ignore_index=True)
alim_df.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,53.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,36.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,NaN,18.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,14.0,1.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,18.0,29.0,NaN,NaN,40.0,5.0,2.0,NaN,NaN,NaN
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,2.0,0.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0.0
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,150.0,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,134.0,6.0,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,26.0,48.0,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN

In [23]:
alim_pop_df = pd.merge(alim_df, pop_df, left_on='Zone', right_on='Zone')
alim_pop_df.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Code zone,Population
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,53.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,2,30552
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,36.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,2,30552
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,NaN,18.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,2,30552
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,14.0,1.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,2,30552
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN,2,30552
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,18.0,29.0,NaN,NaN,40.0,5.0,2.0,NaN,NaN,NaN,2,30552
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,2.0,0.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0.0,2,30552
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,150.0,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,NaN,2,30552
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,134.0,6.0,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,2,30552
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,26.0,48.0,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,2,30552

In [24]:
disp_alim = alim_pop_df.drop(columns = ['Production', 'Importations - Quantité',
                              'Exportations - Quantité', 'Variation de stock', 'Nourriture', 'Pertes',
                              'Semences', 'Traitement', 'Aliments pour animaux', 'Autres utilisations (non alimentaire)', 
                              'Code zone'])
disp_alim.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,30552
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,30552
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,30552
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,30552
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,30552

In [25]:
disp_alim['Disp. Alimentaire (Kcal)'] = disp_alim['Disponibilité alimentaire (Kcal/personne/jour)']*disp_alim['Population']*365*1000
disp_alim['Disp. Alimentaire (Kg)'] = disp_alim['Disponibilité alimentaire en quantité (kg/personne/an)']*disp_alim['Population']*1000
disp_alim.head()

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg)
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552,5.575740e+10,5.254944e+07
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552,2.564840e+11,3.574584e+07
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552,3.345444e+10,1.833120e+07
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552,1.338178e+11,1.497048e+07
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552,1.115148e+12,1.901251e+09

In [26]:
disp_alim['Disp. Alimentaire (Kg)'] = np.where(disp_alim['Disp. Alimentaire (Kg)']<0.01, np.nan, disp_alim['Disp. Alimentaire (Kg)'])
disp_alim['Disp. Alimentaire (Kcal)'] = np.where(disp_alim['Disp. Alimentaire (Kcal)']<0.01, np.nan, disp_alim['Disp. Alimentaire (Kcal)'])
disp_alim['Ratio énergie/poids'] = disp_alim['Disp. Alimentaire (Kcal)']/disp_alim['Disp. Alimentaire (Kg)']
disp_alim.head()

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552,5.575740e+10,5.254944e+07,1061.046512
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552,2.564840e+11,3.574584e+07,7175.213675
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552,3.345444e+10,1.833120e+07,1825.000000
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552,1.338178e+11,1.497048e+07,8938.775510
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552,1.115148e+12,1.901251e+09,586.533826

In [27]:
disp_alim[disp_alim.Produit == 'Oeufs']

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,30552,5.575740e+10,3.971760e+07,1403.846154
71,Afrique du Sud,Oeufs,28.0,7.21,1.96,2.26,497.0,52776,5.393707e+11,3.805150e+08,1417.475728
166,Albanie,Oeufs,46.0,12.45,3.28,3.65,47.0,3173,5.327467e+10,3.950385e+07,1348.594378
257,Algérie,Oeufs,27.0,8.06,1.85,2.30,348.0,39208,3.863948e+11,3.160165e+08,1222.704715
351,Allemagne,Oeufs,47.0,12.20,3.32,3.82,1093.0,82727,1.419182e+12,1.009269e+09,1406.147541
...,...,...,...,...,...,...,...,...,...,...,...
15164,Émirats arabes unis,Oeufs,31.0,8.23,2.22,2.41,85.0,9346,1.057500e+11,7.691758e+07,1374.848117
15256,Équateur,Oeufs,29.0,8.01,1.89,2.17,145.0,15738,1.665867e+11,1.260614e+08,1321.473159
15351,États-Unis d'Amérique,Oeufs,56.0,14.58,3.92,4.27,5519.0,320051,6.541842e+12,4.666344e+09,1401.920439
15445,Éthiopie,Oeufs,1.0,0.36,0.10,0.11,41.0,94101,3.434686e+10,3.387636e+07,1013.888889
15538,Îles Salomon,Oeufs,5.0,1.28,0.36,0.40,1.0,561,1.023825e+09,7.180800e+05,1425.781250

In [28]:
disp_alim['Disp. de protéines (Kg)'] = disp_alim['Disponibilité de protéines en quantité (g/personne/jour)']*disp_alim['Population']*365
disp_alim['Disp. de protéines (Kg)'] = np.where(disp_alim['Disp. de protéines (Kg)']<0.01, np.nan, disp_alim['Disp. de protéines (Kg)'])
disp_alim['Ratio poids de protéines/poids total'] = disp_alim['Disp. de protéines (Kg)']/disp_alim['Disp. Alimentaire (Kg)']
disp_alim.head(10)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids,Disp. de protéines (Kg),Ratio poids de protéines/poids total
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552,5.575740e+10,5.254944e+07,1061.046512,8586639.6,0.163401
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552,2.564840e+11,3.574584e+07,7175.213675,334544.4,0.009359
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552,3.345444e+10,1.833120e+07,1825.000000,446059.2,0.024333
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552,1.338178e+11,1.497048e+07,8938.775510,111514.8,0.007449
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552,1.115148e+12,1.901251e+09,586.533826,68247057.6,0.035896
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,30552,5.575740e+10,3.971760e+07,1403.846154,4237562.4,0.106692
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,30552,NaN,2.138640e+06,NaN,223029.6,0.104286
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,30552,3.456959e+11,1.503158e+08,2299.796748,21299326.8,0.141697
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,30552,3.010900e+11,1.402337e+08,2147.058824,21076297.2,0.150294
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,30552,1.003633e+11,7.485240e+07,1340.816327,9701787.6,0.129612

In [29]:
disp_alim.loc[disp_alim.Produit == 'Avoine']

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids,Disp. de protéines (Kg),Ratio poids de protéines/poids total
87,Afrique du Sud,Avoine,5.0,0.75,0.09,0.16,49.0,52776,9.631620e+10,3.958200e+07,2433.333333,3082118.40,0.077867
182,Albanie,Avoine,1.0,0.13,0.01,0.03,28.0,3173,1.158145e+09,4.124900e+05,2807.692308,34744.35,0.084231
273,Algérie,Avoine,0.0,0.01,0.00,0.00,122.0,39208,NaN,3.920800e+05,NaN,NaN,NaN
367,Allemagne,Avoine,13.0,1.54,0.23,0.48,818.0,82727,3.925396e+11,1.273996e+08,3081.168831,14493770.40,0.113766
459,Angola,Avoine,0.0,0.01,0.00,0.00,0.0,21472,NaN,2.147200e+05,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15086,Égypte,Avoine,0.0,0.01,0.00,0.00,1.0,82056,NaN,8.205600e+05,NaN,NaN,NaN
15180,Émirats arabes unis,Avoine,NaN,NaN,NaN,NaN,8.0,9346,NaN,NaN,NaN,NaN,NaN
15272,Équateur,Avoine,19.0,2.96,0.31,0.78,47.0,15738,1.091430e+11,4.658448e+07,2342.905405,4480608.60,0.096182
15367,États-Unis d'Amérique,Avoine,19.0,3.95,0.31,0.79,2797.0,320051,2.219554e+12,1.264201e+09,1755.696203,92286705.85,0.073000
15461,Éthiopie,Avoine,4.0,0.61,0.07,0.19,60.0,94101,1.373875e+11,5.740161e+07,2393.442623,6525904.35,0.113689

In [30]:
rat_ep = pd.pivot_table(disp_alim, index=['Produit'], values='Ratio énergie/poids', aggfunc='mean')
rat_ep.head(20)

                          Ratio énergie/poids
Produit
Abats Comestible                  1132.473774
Agrumes, Autres                    256.962548
Aliments pour enfants             3826.952046
Ananas                             442.588355
Animaux Aquatiques Autre           618.224052
Arachides Decortiquees            5705.476348
Avoine                            2257.241678
Bananes                            617.017037
Bananes plantains                  814.872238
Beurre, Ghee                      7470.526350
Bière                              453.474537
Blé                               2851.016900
Boissons Alcooliques              2987.518016
Boissons Fermentés                 489.759488
Café                               479.569820
Cephalopodes                       890.786800
Citrons & Limes                    194.828886
Coco (Incl Coprah)                1419.317325
Crustacés                          534.356754
Crème                             2046.045474

In [31]:
rat_ep = rat_ep.sort_values(by=['Ratio énergie/poids'], ascending=False)
rat_ep.head(25)

                          Ratio énergie/poids
Produit
Huiles de Foie de Poisso         11809.003531
Huile de Sésame                  10146.064841
Huile d'Olive                     9292.674322
Huile de Germe de Maïs            9257.130389
Huile de Son de Riz               9206.134101
Huile de Colza&Moutarde           9149.964104
Huile d'Arachide                  9118.262843
Huile de Tournesol                9027.791629
Huile de Palmistes                9012.117711
Huile Graines de Coton            8972.360166
Huile de Coco                     8932.572320
Huiles de Poissons                8917.431319
Huile de Soja                     8900.180815
Huile de Palme                    8791.217534
Huil Plantes Oleif Autr           8720.818117
Graisses Animales Crue            7579.278844
Beurre, Ghee                      7470.526350
Sésame                            6136.984310
Arachides Decortiquees            5705.476348
Palmistes                         5475.000000
Feve de Cacao                     4943.058476
Plantes Oleiferes, Autre          4825.017021
Aliments pour enfants             3826.952046
Girofles                          3705.312286
Riz (Eq Blanchi)                  3640.609092

In [32]:
rat_ep.tail(25)

                          Ratio énergie/poids
Produit
Pommes de Terre                    670.086278
Perciform                          630.415596
Raisin                             620.561837
Animaux Aquatiques Autre           618.224052
Bananes                            617.017037
Lait - Excl Beurre                 587.055382
Crustacés                          534.356754
Sucre, betterave                   510.514476
Boissons Fermentés                 489.759488
Café                               479.569820
Bière                              453.474537
Thé                                448.163806
Ananas                             442.588355
Fruits, Autres                     436.420767
Pommes                             404.929349
Oignons                            370.433162
Plantes Aquatiques                 367.682865
Sucre, canne                       298.939389
Légumes, Autres                    269.476222
Oranges, Mandarines                258.119617
Agrumes, Autres                    256.962548
Pamplemousse                       248.836796
Mollusques, Autres                 239.557401
Tomates                            202.718836
Citrons & Limes                    194.828886

In [33]:
rat_protp = pd.pivot_table(disp_alim, index=['Produit'], values='Ratio poids de protéines/poids total', aggfunc='mean')
rat_protp.head(20)

                          Ratio poids de protéines/poids total
Produit
Abats Comestible                                      0.176309
Agrumes, Autres                                       0.004471
Aliments pour enfants                                 0.154317
Ananas                                                0.003056
Animaux Aquatiques Autre                              0.045531
Arachides Decortiquees                                0.250913
Avoine                                                0.088025
Bananes                                               0.008274
Bananes plantains                                     0.007709
Beurre, Ghee                                          0.009189
Bière                                                 0.004687
Blé                                                   0.081914
Boissons Alcooliques                                  0.004893
Boissons Fermentés                                    0.004103
Café                                                  0.045990
Cephalopodes                                          0.150352
Citrons & Limes                                       0.004849
Coco (Incl Coprah)                                    0.015080
Crustacés                                             0.098689
Crème                                                 0.030300

In [34]:
rat_protp = rat_protp.sort_values(by=['Ratio poids de protéines/poids total'], ascending=False)
rat_protp.head(25)

                          Ratio poids de protéines/poids total
Produit
Graines Colza/Moutarde                                0.365000
Soja                                                  0.272545
Arachides Decortiquees                                0.250913
Pois                                                  0.224239
Légumineuses Autres                                   0.223047
Haricots                                              0.218658
Plantes Oleiferes, Autre                              0.187802
Sésame                                                0.187107
Viande, Autre                                         0.178481
Abats Comestible                                      0.176309
Aliments pour enfants                                 0.154317
Cephalopodes                                          0.150352
Viande de Bovins                                      0.144611
Viande d'Ovins/Caprins                                0.138969
Viande de Volailles                                   0.126200
Piments                                               0.124310
Poissons Pelagiques                                   0.122727
Graines de tournesol                                  0.120599
Poissons Marins, Autres                               0.113554
Poivre                                                0.112612
Épices, Autres                                        0.110849
Oeufs                                                 0.106961
Poissons Eau Douce                                    0.105784
Viande de Suides                                      0.103926
Crustacés                                             0.098689

In [35]:
rat_protp.tail(25)

                         Ratio poids de protéines/poids total
Produit
Huile de Coco                                        0.007364
Sucre non centrifugé                                 0.007313
Manioc                                               0.007261
Huile de Son de Riz                                  0.006887
Huile de Palmistes                                   0.006449
Raisin                                               0.006100
Huile Graines de Coton                               0.005612
Fruits, Autres                                       0.005357
Huile de Palme                                       0.004992
Miel                                                 0.004967
Boissons Alcooliques                                 0.004893
Citrons & Limes                                      0.004849
Bière                                                0.004687
Oranges, Mandarines                                  0.004536
Agrumes, Autres                                      0.004471
Boissons Fermentés                                   0.004103
Huile de Colza&Moutarde                              0.003944
Pamplemousse                                         0.003520
Huile de Soja                                        0.003226
Ananas                                               0.003056
Huile de Tournesol                                   0.002841
Sucre, canne                                         0.002036
Edulcorants Autres                                   0.001936
Pommes                                               0.001934
Vin                                                  0.000071

In [36]:
disp_veg = veg_df_ok.drop(columns = ['Disponibilité de matière grasse en quantité (g/personne/jour)','Production', 
                                     'Importations - Quantité', 'Exportations - Quantité', 'Variation de stock', 
                                     'Semences', 'Traitement', 'Autres utilisations (non alimentaire)',
                                     'Disponibilité alimentaire (Kcal/personne/jour)',
                                     'Disponibilité alimentaire en quantité (kg/personne/an)',
                                     'Disponibilité de protéines en quantité (g/personne/jour)'])
disp_veg.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,NaN
1,Afghanistan,Aliments pour enfants,2.0,2.0,NaN,NaN
2,Afghanistan,Ananas,0.0,0.0,NaN,NaN
3,Afghanistan,Bananes,82.0,82.0,NaN,NaN
4,Afghanistan,Bière,3.0,3.0,NaN,NaN
5,Afghanistan,Blé,5992.0,4895.0,775.0,NaN
6,Afghanistan,Boissons Alcooliques,0.0,0.0,NaN,NaN
7,Afghanistan,Café,0.0,0.0,NaN,NaN
8,Afghanistan,Coco (Incl Coprah),0.0,0.0,NaN,NaN
9,Afghanistan,"Céréales, Autres",0.0,0.0,NaN,NaN

In [37]:
#La disp. intérieure es donnée en Milliers de tonnes
#1000 tonnes = 1000*1000 Kg
disp_veg['Disp. intérieure (Kg)'] = disp_veg['Disponibilité intérieure']*1000*1000
disp_veg.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg)
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,NaN,4.100000e+07
1,Afghanistan,Aliments pour enfants,2.0,2.0,NaN,NaN,2.000000e+06
2,Afghanistan,Ananas,0.0,0.0,NaN,NaN,0.000000e+00
3,Afghanistan,Bananes,82.0,82.0,NaN,NaN,8.200000e+07
4,Afghanistan,Bière,3.0,3.0,NaN,NaN,3.000000e+06
5,Afghanistan,Blé,5992.0,4895.0,775.0,NaN,5.992000e+09
6,Afghanistan,Boissons Alcooliques,0.0,0.0,NaN,NaN,0.000000e+00
7,Afghanistan,Café,0.0,0.0,NaN,NaN,0.000000e+00
8,Afghanistan,Coco (Incl Coprah),0.0,0.0,NaN,NaN,0.000000e+00
9,Afghanistan,"Céréales, Autres",0.0,0.0,NaN,NaN,0.000000e+00

In [38]:
disp_veg = disp_veg.replace(np.nan, 0)
disp_veg.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg)
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,4.100000e+07
1,Afghanistan,Aliments pour enfants,2.0,2.0,0.0,0.0,2.000000e+06
2,Afghanistan,Ananas,0.0,0.0,0.0,0.0,0.000000e+00
3,Afghanistan,Bananes,82.0,82.0,0.0,0.0,8.200000e+07
4,Afghanistan,Bière,3.0,3.0,0.0,0.0,3.000000e+06
5,Afghanistan,Blé,5992.0,4895.0,775.0,0.0,5.992000e+09
6,Afghanistan,Boissons Alcooliques,0.0,0.0,0.0,0.0,0.000000e+00
7,Afghanistan,Café,0.0,0.0,0.0,0.0,0.000000e+00
8,Afghanistan,Coco (Incl Coprah),0.0,0.0,0.0,0.0,0.000000e+00
9,Afghanistan,"Céréales, Autres",0.0,0.0,0.0,0.0,0.000000e+00

In [39]:
disp_veg['Nourr., Pertes et Alim. pour animaux (Kg)']=(disp_veg['Nourriture']+
                                                       disp_veg['Pertes']+
                                                       disp_veg['Aliments pour animaux'])*1000*1000
disp_veg.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)"
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,4.100000e+07,4.100000e+07
1,Afghanistan,Aliments pour enfants,2.0,2.0,0.0,0.0,2.000000e+06,2.000000e+06
2,Afghanistan,Ananas,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00
3,Afghanistan,Bananes,82.0,82.0,0.0,0.0,8.200000e+07,8.200000e+07
4,Afghanistan,Bière,3.0,3.0,0.0,0.0,3.000000e+06,3.000000e+06
5,Afghanistan,Blé,5992.0,4895.0,775.0,0.0,5.992000e+09,5.670000e+09
6,Afghanistan,Boissons Alcooliques,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00
7,Afghanistan,Café,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00
8,Afghanistan,Coco (Incl Coprah),0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00
9,Afghanistan,"Céréales, Autres",0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00

In [40]:
disp_veg_2 = pd.merge(disp_veg,rat_ep, left_on='Produit', right_on='Produit')
disp_veg_2.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)",Ratio énergie/poids
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,41000000.0,41000000.0,256.962548
1,Afrique du Sud,"Agrumes, Autres",8.0,8.0,1.0,0.0,8000000.0,9000000.0,256.962548
2,Albanie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548
3,Algérie,"Agrumes, Autres",9.0,9.0,0.0,0.0,9000000.0,9000000.0,256.962548
4,Allemagne,"Agrumes, Autres",188.0,188.0,0.0,0.0,188000000.0,188000000.0,256.962548
5,Angola,"Agrumes, Autres",304.0,274.0,30.0,0.0,304000000.0,304000000.0,256.962548
6,Antigua-et-Barbuda,"Agrumes, Autres",0.0,0.0,0.0,0.0,0.0,0.0,256.962548
7,Arabie saoudite,"Agrumes, Autres",87.0,84.0,2.0,0.0,87000000.0,86000000.0,256.962548
8,Argentine,"Agrumes, Autres",-0.0,0.0,0.0,0.0,-0.0,0.0,256.962548
9,Arménie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548

In [41]:
disp_veg_2['Disp. intérieure (Kcal)'] = disp_veg_2['Disp. intérieure (Kg)']*disp_veg_2['Ratio énergie/poids']
disp_veg_2.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)",Ratio énergie/poids,Disp. intérieure (Kcal)
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,41000000.0,41000000.0,256.962548,1.053546e+10
1,Afrique du Sud,"Agrumes, Autres",8.0,8.0,1.0,0.0,8000000.0,9000000.0,256.962548,2.055700e+09
2,Albanie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548,2.569625e+08
3,Algérie,"Agrumes, Autres",9.0,9.0,0.0,0.0,9000000.0,9000000.0,256.962548,2.312663e+09
4,Allemagne,"Agrumes, Autres",188.0,188.0,0.0,0.0,188000000.0,188000000.0,256.962548,4.830896e+10
5,Angola,"Agrumes, Autres",304.0,274.0,30.0,0.0,304000000.0,304000000.0,256.962548,7.811661e+10
6,Antigua-et-Barbuda,"Agrumes, Autres",0.0,0.0,0.0,0.0,0.0,0.0,256.962548,0.000000e+00
7,Arabie saoudite,"Agrumes, Autres",87.0,84.0,2.0,0.0,87000000.0,86000000.0,256.962548,2.235574e+10
8,Argentine,"Agrumes, Autres",-0.0,0.0,0.0,0.0,-0.0,0.0,256.962548,-0.000000e+00
9,Arménie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548,2.569625e+08

In [42]:
disp_veg_2['Nourr., Pertes et Alim. pour animaux (Kcal)'] = disp_veg_2['Nourr., Pertes et Alim. pour animaux (Kg)']*disp_veg_2['Ratio énergie/poids']
disp_veg_2.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)",Ratio énergie/poids,Disp. intérieure (Kcal),"Nourr., Pertes et Alim. pour animaux (Kcal)"
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,41000000.0,41000000.0,256.962548,1.053546e+10,1.053546e+10
1,Afrique du Sud,"Agrumes, Autres",8.0,8.0,1.0,0.0,8000000.0,9000000.0,256.962548,2.055700e+09,2.312663e+09
2,Albanie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548,2.569625e+08,2.569625e+08
3,Algérie,"Agrumes, Autres",9.0,9.0,0.0,0.0,9000000.0,9000000.0,256.962548,2.312663e+09,2.312663e+09
4,Allemagne,"Agrumes, Autres",188.0,188.0,0.0,0.0,188000000.0,188000000.0,256.962548,4.830896e+10,4.830896e+10
5,Angola,"Agrumes, Autres",304.0,274.0,30.0,0.0,304000000.0,304000000.0,256.962548,7.811661e+10,7.811661e+10
6,Antigua-et-Barbuda,"Agrumes, Autres",0.0,0.0,0.0,0.0,0.0,0.0,256.962548,0.000000e+00,0.000000e+00
7,Arabie saoudite,"Agrumes, Autres",87.0,84.0,2.0,0.0,87000000.0,86000000.0,256.962548,2.235574e+10,2.209878e+10
8,Argentine,"Agrumes, Autres",-0.0,0.0,0.0,0.0,-0.0,0.0,256.962548,-0.000000e+00,0.000000e+00
9,Arménie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,256.962548,2.569625e+08,2.569625e+08

In [43]:
disp_int_mon_kcal = pd.pivot_table(disp_veg_2, index=['Produit'], 
                              values=['Disp. intérieure (Kcal)', 'Nourr., Pertes et Alim. pour animaux (Kcal)'],
                              aggfunc={'Disp. intérieure (Kcal)': np.sum,
                                      'Nourr., Pertes et Alim. pour animaux (Kcal)': np.sum})
disp_int_mon_kcal.head(20)

,Disp. intérieure (Kcal),"Nourr., Pertes et Alim. pour animaux (Kcal)"
Produit,,
"Agrumes, Autres",4.298470e+12,4.296414e+12
Aliments pour enfants,8.304486e+11,3.421295e+12
Ananas,1.112092e+13,1.121430e+13
Arachides Decortiquees,2.348545e+14,1.105950e+14
Avoine,5.455527e+13,4.833432e+13
Bananes,7.214595e+13,7.098843e+13
Bananes plantains,2.382116e+13,2.171390e+13
Bière,1.082720e+14,1.081528e+14
Blé,2.299214e+15,2.092966e+15
Boissons Alcooliques,1.053608e+14,8.474095e+13
Boissons Fermentés,1.648530e+13,1.634180e+13
Café,3.977073e+12,3.994817e+12
Citrons & Limes,3.453342e+12,3.421585e+12
Coco (Incl Coprah),8.648610e+13,3.637852e+13
"Céréales, Autres",8.335318e+13,7.620904e+13
Dattes,1.626075e+13,1.623265e+13
Edulcorants Autres,6.899187e+13,5.314836e+13
Feve de Cacao,2.667274e+13,2.499210e+13
"Fruits, Autres",1.144609e+14,1.126974e+14
Girofles,4.891012e+11,2.000869e+11

In [44]:
humans_nou_1 = sum(disp_int_mon_kcal['Disp. intérieure (Kcal)'])/(2400*365)
print(humans_nou_1)

18923670673.658615

In [45]:
humans_nou_2 = sum(disp_int_mon_kcal['Nourr., Pertes et Alim. pour animaux (Kcal)'])/(2400*365)
print(humans_nou_2)

13217370099.899492

In [46]:
humans_nou_1/pop_mondiale

2.704414611189848

In [47]:
humans_nou_2/pop_mondiale

1.8889172949637465

In [48]:
disp_veg_3 = pd.merge(disp_veg,rat_protp, left_on='Produit', right_on='Produit')
disp_veg_3.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)",Ratio poids de protéines/poids total
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,41000000.0,41000000.0,0.004471
1,Afrique du Sud,"Agrumes, Autres",8.0,8.0,1.0,0.0,8000000.0,9000000.0,0.004471
2,Albanie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,0.004471
3,Algérie,"Agrumes, Autres",9.0,9.0,0.0,0.0,9000000.0,9000000.0,0.004471
4,Allemagne,"Agrumes, Autres",188.0,188.0,0.0,0.0,188000000.0,188000000.0,0.004471
5,Angola,"Agrumes, Autres",304.0,274.0,30.0,0.0,304000000.0,304000000.0,0.004471
6,Antigua-et-Barbuda,"Agrumes, Autres",0.0,0.0,0.0,0.0,0.0,0.0,0.004471
7,Arabie saoudite,"Agrumes, Autres",87.0,84.0,2.0,0.0,87000000.0,86000000.0,0.004471
8,Argentine,"Agrumes, Autres",-0.0,0.0,0.0,0.0,-0.0,0.0,0.004471
9,Arménie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,0.004471

In [49]:
disp_veg_3['Disp. intérieure en proteines (Kg)'] = disp_veg_3['Disp. intérieure (Kg)']*disp_veg_3['Ratio poids de protéines/poids total']
disp_veg_3['Nourr., Pertes et Alim. pour animaux en proteines (Kg)'] = disp_veg_3['Nourr., Pertes et Alim. pour animaux (Kg)']*disp_veg_3['Ratio poids de protéines/poids total']
disp_veg_3.head(10)

,Zone,Produit,Disponibilité intérieure,Nourriture,Pertes,Aliments pour animaux,Disp. intérieure (Kg),"Nourr., Pertes et Alim. pour animaux (Kg)",Ratio poids de protéines/poids total,Disp. intérieure en proteines (Kg),"Nourr., Pertes et Alim. pour animaux en proteines (Kg)"
0,Afghanistan,"Agrumes, Autres",41.0,39.0,2.0,0.0,41000000.0,41000000.0,0.004471,1.832977e+05,1.832977e+05
1,Afrique du Sud,"Agrumes, Autres",8.0,8.0,1.0,0.0,8000000.0,9000000.0,0.004471,3.576541e+04,4.023609e+04
2,Albanie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,0.004471,4.470677e+03,4.470677e+03
3,Algérie,"Agrumes, Autres",9.0,9.0,0.0,0.0,9000000.0,9000000.0,0.004471,4.023609e+04,4.023609e+04
4,Allemagne,"Agrumes, Autres",188.0,188.0,0.0,0.0,188000000.0,188000000.0,0.004471,8.404872e+05,8.404872e+05
5,Angola,"Agrumes, Autres",304.0,274.0,30.0,0.0,304000000.0,304000000.0,0.004471,1.359086e+06,1.359086e+06
6,Antigua-et-Barbuda,"Agrumes, Autres",0.0,0.0,0.0,0.0,0.0,0.0,0.004471,0.000000e+00,0.000000e+00
7,Arabie saoudite,"Agrumes, Autres",87.0,84.0,2.0,0.0,87000000.0,86000000.0,0.004471,3.889489e+05,3.844782e+05
8,Argentine,"Agrumes, Autres",-0.0,0.0,0.0,0.0,-0.0,0.0,0.004471,-0.000000e+00,0.000000e+00
9,Arménie,"Agrumes, Autres",1.0,1.0,0.0,0.0,1000000.0,1000000.0,0.004471,4.470677e+03,4.470677e+03

In [50]:
disp_int_mon_prot = pd.pivot_table(disp_veg_3, index=['Produit'], 
                              values=['Disp. intérieure en proteines (Kg)', 'Nourr., Pertes et Alim. pour animaux en proteines (Kg)'],
                              aggfunc={'Disp. intérieure en proteines (Kg)': np.sum,
                                      'Nourr., Pertes et Alim. pour animaux en proteines (Kg)': np.sum})
disp_int_mon_prot.head(20)

,Disp. intérieure en proteines (Kg),"Nourr., Pertes et Alim. pour animaux en proteines (Kg)"
Produit,,
"Agrumes, Autres",7.478548e+07,7.474971e+07
Aliments pour enfants,3.348688e+07,1.379598e+08
Ananas,7.678585e+07,7.743065e+07
Arachides Decortiquees,1.032834e+10,4.863700e+09
Avoine,2.127487e+09,1.884889e+09
Bananes,9.675051e+08,9.519823e+08
Bananes plantains,2.253536e+08,2.054185e+08
Bière,1.119149e+09,1.117917e+09
Blé,6.605967e+10,6.013387e+10
Boissons Alcooliques,1.725651e+08,1.387929e+08
Boissons Fermentés,1.380995e+08,1.368974e+08
Café,3.813921e+08,3.830937e+08
Citrons & Limes,8.594283e+07,8.515250e+07
Coco (Incl Coprah),9.189085e+08,3.865191e+08
"Céréales, Autres",2.242162e+09,2.049987e+09
Dattes,1.420529e+08,1.418074e+08
Edulcorants Autres,5.290271e+07,4.075396e+07
Feve de Cacao,4.214164e+08,3.948631e+08
"Fruits, Autres",1.405091e+09,1.383442e+09
Girofles,1.047882e+07,4.286790e+06

In [51]:
#Un humain a besoin en moyenne de 75gr (0.075Kg) de protéines par jour
humans_nou_prot1 = sum(disp_int_mon_prot['Disp. intérieure en proteines (Kg)'])/(0.075*365)
print(humans_nou_prot1)

15845704028.121407

In [52]:
humans_nou_prot2 = sum(disp_int_mon_prot['Nourr., Pertes et Alim. pour animaux en proteines (Kg)'])/(0.075*365)
print(humans_nou_prot2)

9759825145.298685

In [53]:
humans_nou_prot1/pop_mondiale

2.2645370571731838

In [54]:
humans_nou_prot2/pop_mondiale

1.394793546177309

In [55]:
disp_alim.head()

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids,Disp. de protéines (Kg),Ratio poids de protéines/poids total
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552,5.575740e+10,5.254944e+07,1061.046512,8586639.6,0.163401
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552,2.564840e+11,3.574584e+07,7175.213675,334544.4,0.009359
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552,3.345444e+10,1.833120e+07,1825.000000,446059.2,0.024333
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552,1.338178e+11,1.497048e+07,8938.775510,111514.8,0.007449
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552,1.115148e+12,1.901251e+09,586.533826,68247057.6,0.035896

In [56]:
disp_alim_mon_kcal = np.sum(disp_alim['Disp. Alimentaire (Kcal)'])
print(disp_alim_mon_kcal)

7364857978945000.0

In [57]:
humans_alim_1 = disp_alim_mon_kcal/(2400*365)
print(humans_alim_1)

8407372122.083333

In [58]:
humans_alim_1/pop_mondiale

1.2015121379343099

In [59]:
disp_alim_mon_prot = np.sum(disp_alim['Disp. de protéines (Kg)'])
print(disp_alim_mon_prot)

207276350872.75

In [60]:
humans_alim_2 = disp_alim_mon_prot/(0.075*365)
print(humans_alim_2)

7571738844.666667

In [61]:
humans_alim_2/pop_mondiale

1.0820903363179972

In [62]:
sub_alim_df_ok.head(10)

,Code zone,Zone,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
5,6,Andorre,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
6,7,Angola,Nombre de personnes sous-alimentées (millions)...,8.1,7.6,7.4,7.4,7.4
7,8,Antigua-et-Barbuda,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN
8,9,Argentine,Nombre de personnes sous-alimentées (millions)...,1.5,1.5,1.6,1.8,2.1
9,10,Australie,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN

In [63]:
sub_alim_df_ok['2012-2014'] = pd.to_numeric(sub_alim_df_ok['2012-2014'], errors='coerce')
pop_sousalim = np.sum(sub_alim_df_ok['2012-2014'])*1000000
print(pop_sousalim)

881400000.0000001

In [64]:
perc_sousalim = pop_sousalim/pop_mondiale
perc_sousalim = round(perc_sousalim, 4)
print('Le {}% de la population mondiales est sousalimenté'.format(perc_sousalim*100))

Le 12.6% de la population mondiales est sousalimenté

In [65]:
list_cer = {'Code Produit': cer_df['Code Produit'].unique(), 'Produit': cer_df['Produit'].unique()}
list_cer = pd.DataFrame(list_cer)
list_cer.head(10)

   Code Produit           Produit
0          2511               Blé
1          2805  Riz (Eq Blanchi)
2          2513              Orge
3          2514              Maïs
4          2517            Millet
5          2515            Seigle
6          2516            Avoine
7          2518            Sorgho
8          2520  Céréales, Autres

In [66]:
cer_alim_df = pd.merge(list_cer, alim_df, left_on='Produit', right_on='Produit')
cer_alim_df.head(10)

,Code Produit,Produit,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
0,2511,Blé,Afghanistan,1369.0,160.23,4.69,36.91,5992.0,5169.0,1173.0,NaN,-350.0,4895.0,775.0,322.0,NaN,NaN,NaN
1,2511,Blé,Afrique du Sud,492.0,60.13,2.09,15.40,3316.0,1870.0,1490.0,495.0,450.0,3174.0,74.0,31.0,0.0,37.0,NaN
2,2511,Blé,Albanie,1056.0,138.64,5.85,33.64,650.0,294.0,360.0,4.0,0.0,440.0,44.0,18.0,NaN,18.0,130.0
3,2511,Blé,Algérie,1424.0,185.42,5.34,42.97,9461.0,3299.0,6343.0,2.0,-180.0,7270.0,672.0,153.0,0.0,545.0,820.0
4,2511,Blé,Allemagne,654.0,83.41,2.59,21.17,16491.0,25019.0,5421.0,10870.0,-3079.0,6900.0,663.0,571.0,90.0,7494.0,774.0
5,2511,Blé,Angola,286.0,40.72,1.04,8.67,898.0,4.0,972.0,0.0,-79.0,874.0,23.0,0.0,0.0,NaN,NaN
6,2511,Blé,Antigua-et-Barbuda,498.0,62.06,4.84,13.49,7.0,NaN,9.0,0.0,-2.0,6.0,NaN,NaN,NaN,NaN,1.0
7,2511,Blé,Arabie saoudite,797.0,89.47,4.62,23.86,2789.0,660.0,2484.0,259.0,-96.0,2579.0,56.0,15.0,NaN,139.0,NaN
8,2511,Blé,Argentine,877.0,103.11,2.42,23.37,5251.0,9315.0,4.0,2615.0,-1453.0,4273.0,424.0,534.0,NaN,0.0,19.0
9,2511,Blé,Arménie,1024.0,130.60,3.60,30.52,554.0,312.0,361.0,1.0,-118.0,389.0,32.0,30.0,10.0,93.0,0.0

In [67]:
cer_alim_hum = np.sum(cer_alim_df['Nourriture'])
print(cer_alim_hum)

1241405.0

In [68]:
cer_alim_ani = np.sum(cer_alim_df['Aliments pour animaux'])
print(cer_alim_ani)

1070617.0

In [69]:
perc_anim = cer_alim_ani/(cer_alim_hum + cer_alim_ani)
print("La proportion de céréales (en termes de poids) destinée à l'alimentation animale est de {}%".format(perc_anim*100))

La proportion de céréales (en termes de poids) destinée à l'alimentation animale est de 46.30652303481541%

In [70]:
pays_sub_alim = sub_alim_df_ok.dropna(axis=0, how='any')
pays_sub_alim.head(10)

,Code zone,Zone,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
6,7,Angola,Nombre de personnes sous-alimentées (millions)...,8.1,7.6,7.4,7.4,7.4
8,9,Argentine,Nombre de personnes sous-alimentées (millions)...,1.5,1.5,1.6,1.8,2.1
14,16,Bangladesh,Nombre de personnes sous-alimentées (millions)...,26.1,25.8,25.3,24.7,24.2
17,19,Bolivie (État plurinational de),Nombre de personnes sous-alimentées (millions)...,2.2,2,1.9,1.9,1.9
18,20,Botswana,Nombre de personnes sous-alimentées (millions)...,0.5,0.5,0.6,0.6,0.6
23,27,Bulgarie,Nombre de personnes sous-alimentées (millions)...,0.4,0.3,0.3,0.3,0.3

In [71]:
pays_sub_alim = pays_sub_alim.drop(columns = ['Produit', '2013-2015', '2014-2016', '2015-2017', '2016-2018'])

In [72]:
pays_sub_alim.head(10)

    Code zone                             Zone  2012-2014
0           1                          Arménie        0.1
1           2                      Afghanistan        7.9
2           3                          Albanie        0.2
3           4                          Algérie        1.7
6           7                           Angola        8.1
8           9                        Argentine        1.5
14         16                       Bangladesh       26.1
17         19  Bolivie (État plurinational de)        2.2
18         20                         Botswana        0.5
23         27                         Bulgarie        0.4

In [73]:
pays_sub_alim_df = pd.merge(alim_df, pays_sub_alim, left_on='Zone', right_on='Zone')
pays_sub_alim_df.head(20)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Code zone,2012-2014
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,53.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,2,7.9
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,36.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,2,7.9
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,NaN,18.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,2,7.9
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,14.0,1.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,2,7.9
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN,2,7.9
5,Afghanistan,Oeufs,5.0,1.30,0.36,0.38,47.0,18.0,29.0,NaN,NaN,40.0,5.0,2.0,NaN,NaN,NaN,2,7.9
6,Afghanistan,Poissons Eau Douce,0.0,0.07,0.00,0.02,2.0,2.0,0.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,0.0,2,7.9
7,Afghanistan,Viande d'Ovins/Caprins,31.0,4.92,2.55,1.91,150.0,150.0,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,NaN,2,7.9
8,Afghanistan,Viande de Bovins,27.0,4.59,2.10,1.89,140.0,134.0,6.0,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,2,7.9
9,Afghanistan,Viande de Volailles,9.0,2.45,0.53,0.87,75.0,26.0,48.0,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,2,7.9
10,Afghanistan,"Viande, Autre",1.0,0.38,0.06,0.17,12.0,12.0,0.0,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,2,7.9
11,Afghanistan,"Agrumes, Autres",1.0,1.29,0.01,0.02,41.0,3.0,40.0,2.0,NaN,39.0,2.0,NaN,NaN,NaN,NaN,2,7.9
12,Afghanistan,Aliments pour enfants,1.0,0.06,0.01,0.03,2.0,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2,7.9
13,Afghanistan,Ananas,0.0,0.00,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,7.9
14,Afghanistan,Bananes,4.0,2.70,0.02,0.05,82.0,NaN,82.0,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,2,7.9
15,Afghanistan,Bière,0.0,0.09,NaN,0.00,3.0,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2,7.9
16,Afghanistan,Blé,1369.0,160.23,4.69,36.91,5992.0,5169.0,1173.0,NaN,-350.0,4895.0,775.0,322.0,NaN,NaN,NaN,2,7.9
17,Afghanistan,Boissons Alcooliques,0.0,0.00,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,7.9
18,Afghanistan,Café,0.0,0.00,NaN,0.00,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,7.9
19,Afghanistan,Coco (Incl Coprah),0.0,0.00,0.00,0.00,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,7.9

In [74]:
pays_sub_alim_df['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Angola',
       'Arabie saoudite', 'Argentine', 'Arménie', 'Bangladesh',
       'Bolivie (État plurinational de)', 'Botswana', 'Bulgarie',
       'Burkina Faso', 'Bénin', 'Cambodge', 'Cameroun', 'Chili', 'Chine',
       'Chine, Taiwan Province de', 'Chine, continentale', 'Colombie',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Djibouti', 'El Salvador',
       'Eswatini', 'Gabon', 'Gambie', 'Ghana', 'Guatemala', 'Guinée',
       'Guinée-Bissau', 'Géorgie', 'Haïti', 'Honduras', 'Inde',
       'Indonésie', "Iran (République islamique d')", 'Iraq', 'Jamaïque',
       'Jordanie', 'Kenya', 'Kirghizistan', 'Lesotho', 'Liban', 'Libéria',
       'Madagascar', 'Malaisie', 'Malawi', 'Mali', 'Maroc', 'Mauritanie',
       'Mexique', 'Mongolie', 'Mozambique', 'Myanmar', 'Namibie',
       'Nicaragua', 'Niger', 'Nigéria', 'Népal', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Philippines',
       'Pérou', 'Rwanda', 'République centrafricaine',
       'République dominicaine', 'République démocratique populaire lao',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Serbie', 'Sierra Leone',
       'Slovaquie', 'Soudan', 'Sri Lanka', 'Sénégal', 'Tchad',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tunisie', 'Turkménistan',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe', 'Égypte', 'Émirats arabes unis', 'Équateur',
       'Éthiopie'], dtype=object)

In [75]:
pays_sub_alim_df = pays_sub_alim_df.drop(pays_sub_alim_df[pays_sub_alim_df['Zone'] == 'Chine'].index)

In [76]:
pays_sub_alim_df['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Angola',
       'Arabie saoudite', 'Argentine', 'Arménie', 'Bangladesh',
       'Bolivie (État plurinational de)', 'Botswana', 'Bulgarie',
       'Burkina Faso', 'Bénin', 'Cambodge', 'Cameroun', 'Chili',
       'Chine, Taiwan Province de', 'Chine, continentale', 'Colombie',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Djibouti', 'El Salvador',
       'Eswatini', 'Gabon', 'Gambie', 'Ghana', 'Guatemala', 'Guinée',
       'Guinée-Bissau', 'Géorgie', 'Haïti', 'Honduras', 'Inde',
       'Indonésie', "Iran (République islamique d')", 'Iraq', 'Jamaïque',
       'Jordanie', 'Kenya', 'Kirghizistan', 'Lesotho', 'Liban', 'Libéria',
       'Madagascar', 'Malaisie', 'Malawi', 'Mali', 'Maroc', 'Mauritanie',
       'Mexique', 'Mongolie', 'Mozambique', 'Myanmar', 'Namibie',
       'Nicaragua', 'Niger', 'Nigéria', 'Népal', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Philippines',
       'Pérou', 'Rwanda', 'République centrafricaine',
       'République dominicaine', 'République démocratique populaire lao',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Serbie', 'Sierra Leone',
       'Slovaquie', 'Soudan', 'Sri Lanka', 'Sénégal', 'Tchad',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tunisie', 'Turkménistan',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe', 'Égypte', 'Émirats arabes unis', 'Équateur',
       'Éthiopie'], dtype=object)

In [77]:
expo_df = pd.pivot_table(pays_sub_alim_df, index=['Produit'], values='Exportations - Quantité', aggfunc='sum')
expo_df.head(20)

                          Exportations - Quantité
Produit
Abats Comestible                            295.0
Agrumes, Autres                             522.0
Alcool, non Comestible                     2118.0
Aliments pour enfants                       182.0
Ananas                                     6407.0
Animaux Aquatiques Autre                    189.0
Arachides Decortiquees                     1808.0
Avoine                                      130.0
Bananes                                   17805.0
Bananes plantains                           561.0
Beurre, Ghee                                 83.0
Bière                                      3743.0
Blé                                       24841.0
Boissons Alcooliques                        687.0
Boissons Fermentés                          198.0
Café                                       5693.0
Cephalopodes                               1695.0
Citrons & Limes                            2400.0
Coco (Incl Coprah)                         2240.0
Crustacés                                  3733.0

In [78]:
expo_df = expo_df.sort_values(by=['Exportations - Quantité'], ascending=False)
expo_df.head(15)

                     Exportations - Quantité
Produit
Huile de Palme                       46285.0
Maïs                                 37888.0
Manioc                               35843.0
Riz (Eq Blanchi)                     32787.0
Sucre Eq Brut                        25237.0
Blé                                  24841.0
Légumes, Autres                      19948.0
Bananes                              17805.0
Fruits, Autres                       14590.0
Lait - Excl Beurre                   14486.0
Soja                                 14389.0
Poissons Pelagiques                  13680.0
Tomates                               8901.0
Pommes                                7786.0
Oranges, Mandarines                   6838.0

In [79]:
alim_df.head()

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,53.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,36.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,NaN,18.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,14.0,1.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN

In [80]:
expo_df_ok = expo_df.iloc[0:14,:]
expo_df_ok

                     Exportations - Quantité
Produit
Huile de Palme                       46285.0
Maïs                                 37888.0
Manioc                               35843.0
Riz (Eq Blanchi)                     32787.0
Sucre Eq Brut                        25237.0
Blé                                  24841.0
Légumes, Autres                      19948.0
Bananes                              17805.0
Fruits, Autres                       14590.0
Lait - Excl Beurre                   14486.0
Soja                                 14389.0
Poissons Pelagiques                  13680.0
Tomates                               8901.0
Pommes                                7786.0

In [81]:
pays_imp = pd.merge(alim_df, expo_df_ok, left_on='Produit', right_on='Produit')
pays_imp = pays_imp.drop(pays_imp[pays_imp['Zone'] == 'Chine'].index)
pays_imp.head(20)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité_x,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Exportations - Quantité_y
0,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,1835.0,248.0,0.0,NaN,1901.0,58.0,NaN,NaN,123.0,NaN,14486.0
1,Afrique du Sud,Lait - Excl Beurre,85.0,55.75,5.26,4.55,3093.0,3260.0,292.0,697.0,238.0,2942.0,32.0,NaN,-0.0,123.0,NaN,14486.0
2,Albanie,Lait - Excl Beurre,533.0,303.72,31.43,29.96,1153.0,1131.0,23.0,0.0,0.0,964.0,87.0,NaN,0.0,101.0,2.0,14486.0
3,Algérie,Lait - Excl Beurre,227.0,141.53,11.13,13.34,5705.0,3129.0,2581.0,5.0,0.0,5549.0,156.0,NaN,NaN,NaN,NaN,14486.0
4,Allemagne,Lait - Excl Beurre,331.0,258.70,16.50,24.58,23999.0,31345.0,8332.0,15677.0,0.0,21401.0,30.0,NaN,-0.0,2064.0,504.0,14486.0
5,Angola,Lait - Excl Beurre,20.0,12.30,1.09,1.05,277.0,187.0,90.0,0.0,NaN,264.0,11.0,NaN,-0.0,2.0,NaN,14486.0
6,Antigua-et-Barbuda,Lait - Excl Beurre,224.0,123.74,12.12,12.09,15.0,6.0,9.0,0.0,0.0,11.0,0.0,NaN,NaN,0.0,4.0,14486.0
7,Arabie saoudite,Lait - Excl Beurre,140.0,83.65,7.35,9.56,2114.0,1923.0,2134.0,1943.0,0.0,2411.0,117.0,NaN,NaN,NaN,0.0,14486.0
8,Argentine,Lait - Excl Beurre,256.0,195.08,16.81,14.94,8481.0,11184.0,79.0,2782.0,0.0,8085.0,49.0,NaN,NaN,273.0,74.0,14486.0
9,Arménie,Lait - Excl Beurre,351.0,209.03,20.89,19.86,671.0,657.0,30.0,16.0,0.0,622.0,NaN,NaN,0.0,48.0,NaN,14486.0
10,Australie,Lait - Excl Beurre,339.0,234.49,20.11,19.81,6375.0,9522.0,775.0,3816.0,-106.0,5474.0,NaN,NaN,0.0,449.0,452.0,14486.0
11,Autriche,Lait - Excl Beurre,269.0,258.09,15.48,22.23,2595.0,3425.0,1123.0,1898.0,-55.0,2192.0,34.0,NaN,NaN,305.0,63.0,14486.0
12,Azerbaïdjan,Lait - Excl Beurre,235.0,152.07,13.82,14.41,1944.0,1797.0,148.0,1.0,NaN,1431.0,NaN,NaN,0.0,512.0,NaN,14486.0
13,Bahamas,Lait - Excl Beurre,186.0,104.76,11.31,9.96,60.0,3.0,57.0,0.0,0.0,39.0,0.0,NaN,NaN,1.0,19.0,14486.0
14,Bangladesh,Lait - Excl Beurre,37.0,21.91,2.00,2.05,4283.0,3531.0,752.0,0.0,0.0,3431.0,307.0,NaN,NaN,545.0,NaN,14486.0
15,Barbade,Lait - Excl Beurre,185.0,110.48,10.11,10.21,37.0,5.0,29.0,1.0,4.0,31.0,NaN,NaN,NaN,3.0,2.0,14486.0
16,Belgique,Lait - Excl Beurre,379.0,236.19,22.77,23.91,3513.0,3483.0,4332.0,4337.0,35.0,2623.0,NaN,NaN,-0.0,885.0,165.0,14486.0
17,Belize,Lait - Excl Beurre,124.0,80.30,4.68,7.24,27.0,5.0,22.0,0.0,0.0,27.0,0.0,NaN,NaN,NaN,0.0,14486.0
18,Bermudes,Lait - Excl Beurre,140.0,95.56,8.43,9.32,12.0,1.0,11.0,NaN,0.0,6.0,NaN,NaN,NaN,NaN,6.0,14486.0
19,Bolivie (État plurinational de),Lait - Excl Beurre,74.0,46.04,3.79,4.18,541.0,594.0,34.0,87.0,0.0,491.0,30.0,NaN,NaN,20.0,0.0,14486.0

In [82]:
pays_imp = pays_imp.sort_values(by=['Importations - Quantité'], ascending=False, ignore_index=True)
pays_imp.head(20)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité_x,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Exportations - Quantité_y
0,"Chine, continentale",Soja,35.0,3.66,1.18,3.29,75081.0,11951.0,63381.0,250.0,0.0,5072.0,604.0,713.0,59162.0,9530.0,NaN,14389.0
1,"Chine, continentale",Manioc,6.0,1.91,0.01,0.05,33590.0,4585.0,29046.0,41.0,NaN,2645.0,138.0,NaN,NaN,22868.0,7940.0,35843.0
2,Japon,Maïs,61.0,9.21,0.20,0.16,14661.0,0.0,14403.0,1.0,259.0,1171.0,3.0,0.0,2235.0,10964.0,288.0,37888.0
3,Égypte,Blé,1175.0,146.83,6.27,35.62,19341.0,9460.0,10331.0,191.0,-260.0,12048.0,2224.0,217.0,0.0,4860.0,0.0,24841.0
4,République de Corée,Maïs,82.0,12.46,0.17,0.45,8749.0,80.0,8755.0,86.0,0.0,614.0,176.0,1.0,1631.0,6281.0,47.0,37888.0
5,Inde,Huile de Palme,31.0,1.30,3.54,NaN,8413.0,NaN,8568.0,143.0,-12.0,1631.0,NaN,NaN,NaN,NaN,6782.0,46285.0
6,Allemagne,Lait - Excl Beurre,331.0,258.70,16.50,24.58,23999.0,31345.0,8332.0,15677.0,0.0,21401.0,30.0,NaN,-0.0,2064.0,504.0,14486.0
7,"Chine, continentale",Lait - Excl Beurre,58.0,32.66,3.22,3.07,48271.0,40193.0,8207.0,129.0,0.0,45252.0,1410.0,NaN,0.0,1608.0,NaN,14486.0
8,Italie,Lait - Excl Beurre,272.0,246.88,18.27,17.07,15918.0,11004.0,7695.0,2781.0,0.0,15057.0,36.0,NaN,0.0,524.0,301.0,14486.0
9,Brésil,Blé,384.0,53.00,1.14,10.20,12059.0,5718.0,7630.0,1288.0,0.0,10620.0,607.0,231.0,NaN,600.0,1.0,24841.0
10,Mexique,Maïs,986.0,116.34,10.93,25.41,31707.0,22664.0,7261.0,719.0,2500.0,14232.0,2858.0,370.0,1602.0,12615.0,30.0,37888.0
11,Indonésie,Blé,183.0,25.45,0.51,4.89,6812.0,NaN,7074.0,262.0,0.0,6360.0,136.0,NaN,-0.0,202.0,155.0,24841.0
12,États-Unis d'Amérique,"Légumes, Autres",43.0,66.66,0.40,2.04,22911.0,19242.0,6944.0,3276.0,NaN,21334.0,1388.0,NaN,0.0,193.0,NaN,19948.0
13,"Chine, continentale",Huile de Palme,45.0,1.86,5.11,NaN,7009.0,230.0,6811.0,31.0,0.0,2582.0,124.0,NaN,NaN,NaN,4304.0,46285.0
14,"Chine, continentale",Poissons Pelagiques,1.0,0.31,0.03,0.10,9065.0,3271.0,6631.0,837.0,NaN,431.0,NaN,NaN,NaN,8634.0,0.0,13680.0
15,Japon,Blé,387.0,45.04,1.69,10.70,7282.0,812.0,6520.0,244.0,195.0,5727.0,165.0,20.0,152.0,1156.0,62.0,24841.0
16,Algérie,Blé,1424.0,185.42,5.34,42.97,9461.0,3299.0,6343.0,2.0,-180.0,7270.0,672.0,153.0,0.0,545.0,820.0,24841.0
17,Italie,Blé,1041.0,146.37,3.85,32.80,11050.0,7312.0,6324.0,3640.0,1054.0,8927.0,36.0,325.0,75.0,1680.0,7.0,24841.0
18,Royaume-Uni,Lait - Excl Beurre,341.0,232.20,21.33,19.05,17005.0,13936.0,5953.0,2884.0,0.0,14718.0,0.0,NaN,108.0,1374.0,805.0,14486.0
19,Égypte,Maïs,596.0,62.42,8.36,15.72,13802.0,7957.0,5852.0,7.0,0.0,5122.0,1186.0,32.0,148.0,7032.0,282.0,37888.0

In [83]:
pays_imp_ok = pays_imp.iloc[0:199,:]

In [84]:
impo_df_2 = pd.pivot_table(pays_imp_ok, index=['Zone'], values=['Importations - Quantité'], aggfunc='sum')
impo_df_2 = impo_df_2.sort_values(by=['Importations - Quantité'], ascending=False)
impo_df_2.head(20)

                                Importations - Quantité
Zone
Chine, continentale                            131741.0
États-Unis d'Amérique                           40073.0
Allemagne                                       34702.0
Japon                                           32187.0
Italie                                          23790.0
Pays-Bas                                        22204.0
Royaume-Uni                                     22164.0
République de Corée                             20750.0
Espagne                                         19758.0
Indonésie                                       19224.0
Mexique                                         19166.0
Égypte                                          18922.0
Fédération de Russie                            16382.0
Algérie                                         14011.0
Belgique                                        13386.0
Iran (République islamique d')                  11728.0
France                                          11391.0
Nigéria                                         11224.0
Malaisie                                        10878.0
Inde                                             9884.0

In [85]:
impo_df = pd.pivot_table(pays_imp_ok, index=['Produit'], values=['Importations - Quantité', 'Disponibilité intérieure',
                                                                 'Nourriture', 'Aliments pour animaux',
                                                                 'Autres utilisations (non alimentaire)'], aggfunc='sum')
impo_df.head(20)

,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,Importations - Quantité,Nourriture
Produit,,,,,
Bananes,0.0,0.0,7466.0,9663.0,7123.0
Blé,98715.0,15107.0,459892.0,149629.0,303305.0
"Fruits, Autres",0.0,12.0,73169.0,16726.0,67215.0
Huile de Palme,0.0,20528.0,28586.0,31767.0,7783.0
Lait - Excl Beurre,30502.0,12659.0,379263.0,90464.0,331684.0
"Légumes, Autres",3980.0,0.0,87101.0,28177.0,75711.0
Manioc,25149.0,20355.0,67326.0,34655.0,15257.0
Maïs,402885.0,182117.0,701068.0,102451.0,55918.0
Poissons Pelagiques,12156.0,0.0,16094.0,13445.0,3937.0
Pommes,0.0,0.0,15592.0,8518.0,14557.0
Riz (Eq Blanchi),12644.0,2804.0,150234.0,13990.0,122832.0
Soja,13710.0,524.0,159570.0,93455.0,7510.0
Sucre Eq Brut,0.0,2996.0,78453.0,34208.0,64971.0
Tomates,0.0,0.0,21277.0,7143.0,20252.0

In [86]:
impo_df['Ratio Autres utilisations/Disp. intérieure'] = impo_df['Autres utilisations (non alimentaire)']/impo_df['Disponibilité intérieure']
impo_df['Ratio Nou. Animale/Nourriture'] = impo_df['Aliments pour animaux']/(impo_df['Aliments pour animaux']+impo_df['Nourriture'])
impo_df.head(20)

,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,Importations - Quantité,Nourriture,Ratio Autres utilisations/Disp. intérieure,Ratio Nou. Animale/Nourriture
Produit,,,,,,,
Bananes,0.0,0.0,7466.0,9663.0,7123.0,0.000000,0.000000
Blé,98715.0,15107.0,459892.0,149629.0,303305.0,0.032849,0.245547
"Fruits, Autres",0.0,12.0,73169.0,16726.0,67215.0,0.000164,0.000000
Huile de Palme,0.0,20528.0,28586.0,31767.0,7783.0,0.718114,0.000000
Lait - Excl Beurre,30502.0,12659.0,379263.0,90464.0,331684.0,0.033378,0.084216
"Légumes, Autres",3980.0,0.0,87101.0,28177.0,75711.0,0.000000,0.049943
Manioc,25149.0,20355.0,67326.0,34655.0,15257.0,0.302335,0.622408
Maïs,402885.0,182117.0,701068.0,102451.0,55918.0,0.259771,0.878122
Poissons Pelagiques,12156.0,0.0,16094.0,13445.0,3937.0,0.000000,0.755359
Pommes,0.0,0.0,15592.0,8518.0,14557.0,0.000000,0.000000
Riz (Eq Blanchi),12644.0,2804.0,150234.0,13990.0,122832.0,0.018664,0.093330
Soja,13710.0,524.0,159570.0,93455.0,7510.0,0.003284,0.646089
Sucre Eq Brut,0.0,2996.0,78453.0,34208.0,64971.0,0.038188,0.000000
Tomates,0.0,0.0,21277.0,7143.0,20252.0,0.000000,0.000000

In [87]:
cer_usa = cer_alim_df[cer_alim_df['Zone']=="États-Unis d'Amérique"]
cer_usa.head(10)

,Code Produit,Produit,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
172,2511,Blé,États-Unis d'Amérique,599.0,80.43,2.85,19.35,34051.0,57967.0,5491.0,34691.0,5284.0,25742.0,NaN,2096.0,0.0,6196.0,16.0
347,2805,Riz (Eq Blanchi),États-Unis d'Amérique,72.0,6.88,0.08,1.33,3119.0,5745.0,923.0,3522.0,-27.0,2203.0,200.0,109.0,464.0,NaN,142.0
521,2513,Orge,États-Unis d'Amérique,5.0,0.50,0.03,0.14,4867.0,4683.0,864.0,696.0,16.0,160.0,NaN,107.0,3161.0,1440.0,0.0
696,2514,Maïs,États-Unis d'Amérique,92.0,12.24,0.26,1.67,292776.0,353699.0,3595.0,24655.0,-39863.0,3917.0,NaN,582.0,23230.0,128024.0,137023.0
854,2517,Millet,États-Unis d'Amérique,NaN,NaN,NaN,NaN,416.0,418.0,21.0,23.0,NaN,NaN,22.0,NaN,NaN,394.0,NaN
1007,2515,Seigle,États-Unis d'Amérique,2.0,0.27,0.01,0.07,347.0,195.0,235.0,7.0,-76.0,87.0,NaN,76.0,NaN,184.0,0.0
1175,2516,Avoine,États-Unis d'Amérique,19.0,3.95,0.31,0.79,2797.0,1016.0,1851.0,102.0,32.0,1265.0,NaN,103.0,NaN,1430.0,NaN
1330,2518,Sorgho,États-Unis d'Amérique,7.0,0.74,0.07,0.20,4362.0,9882.0,216.0,2515.0,-3220.0,236.0,NaN,22.0,1753.0,2351.0,NaN
1503,2520,"Céréales, Autres",États-Unis d'Amérique,5.0,0.62,0.02,0.15,271.0,81.0,281.0,91.0,0.0,200.0,NaN,3.0,NaN,77.0,NaN

In [88]:
cer_usa_sum = np.sum(cer_usa['Aliments pour animaux'])
print("Si les États-Unis réduisaient en 10% la production de céréales pour animaux, {} milliers de tonnes de nourriture seraient libérées".format(cer_usa_sum*0.1))

Si les États-Unis réduisaient en 10% la production de céréales pour animaux, 14009.6 milliers de tonnes de nourriture seraient libérées

In [89]:
alim_thai = alim_df[alim_df['Zone']=="Thaïlande"]
alim_thai.head(20)

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire)
3281,Thaïlande,Abats Comestible,3.0,1.11,0.09,0.56,74.0,45.0,33.0,5.0,0.0,75.0,NaN,NaN,NaN,NaN,NaN
3282,Thaïlande,Animaux Aquatiques Autre,1.0,1.28,0.01,0.14,86.0,110.0,1.0,25.0,0.0,86.0,NaN,NaN,NaN,NaN,0.0
3283,Thaïlande,"Beurre, Ghee",4.0,0.17,0.46,0.00,11.0,NaN,12.0,1.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN
3284,Thaïlande,Cephalopodes,5.0,2.12,0.07,0.97,142.0,128.0,86.0,72.0,NaN,142.0,NaN,NaN,NaN,0.0,0.0
3285,Thaïlande,Crustacés,2.0,1.43,0.03,0.42,96.0,718.0,55.0,678.0,0.0,96.0,NaN,NaN,NaN,0.0,0.0
3286,Thaïlande,Crème,0.0,0.02,0.01,0.00,1.0,1.0,2.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3287,Thaïlande,Graisses Animales Crue,5.0,0.23,0.53,0.01,25.0,27.0,15.0,40.0,23.0,15.0,NaN,NaN,NaN,NaN,10.0
3288,Thaïlande,Huiles de Foie de Poisso,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
3289,Thaïlande,Huiles de Poissons,0.0,0.00,0.00,0.00,14.0,10.0,8.0,4.0,NaN,0.0,NaN,NaN,NaN,NaN,14.0
3290,Thaïlande,Lait - Excl Beurre,45.0,29.35,1.74,2.46,2147.0,1095.0,1241.0,200.0,11.0,1967.0,33.0,NaN,NaN,NaN,147.0
3291,Thaïlande,"Mollusques, Autres",1.0,1.82,0.01,0.13,140.0,205.0,29.0,93.0,0.0,122.0,NaN,NaN,NaN,18.0,0.0
3292,Thaïlande,Oeufs,52.0,12.35,3.72,3.89,1042.0,1063.0,4.0,25.0,NaN,827.0,53.0,161.0,-0.0,NaN,NaN
3293,Thaïlande,Perciform,1.0,1.00,0.02,0.18,67.0,183.0,41.0,157.0,0.0,67.0,NaN,NaN,NaN,0.0,0.0
3294,Thaïlande,Plantes Aquatiques,0.0,0.00,0.00,0.00,3.0,0.0,4.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,3.0
3295,Thaïlande,Poissons Eau Douce,16.0,8.32,0.56,2.45,557.0,599.0,55.0,97.0,0.0,557.0,NaN,NaN,NaN,0.0,0.0
3296,Thaïlande,"Poissons Marins, Autres",0.0,0.21,0.01,0.06,363.0,499.0,44.0,180.0,NaN,14.0,NaN,NaN,NaN,349.0,0.0
3297,Thaïlande,Poissons Pelagiques,30.0,9.92,1.33,4.15,665.0,595.0,1460.0,1390.0,0.0,665.0,NaN,NaN,NaN,0.0,0.0
3298,Thaïlande,Viande d'Ovins/Caprins,0.0,0.05,0.02,0.02,3.0,2.0,1.0,0.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3299,Thaïlande,Viande de Bovins,10.0,2.56,0.63,1.00,152.0,195.0,63.0,106.0,NaN,172.0,NaN,NaN,-0.0,NaN,NaN
3300,Thaïlande,Viande de Suides,124.0,13.00,11.83,3.92,871.0,891.0,1.0,22.0,NaN,871.0,NaN,NaN,0.0,NaN,NaN

In [90]:
alim_thai['Ratio export/Production'] = alim_thai['Exportations - Quantité']/alim_thai['Production']
alim_thai.head()

C:\Users\OSCARG~1\AppData\Local\Temp/ipykernel_24388/416361608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alim_thai['Ratio export/Production'] = alim_thai['Exportations - Quantité']/alim_thai['Production']

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Ratio export/Production
3281,Thaïlande,Abats Comestible,3.0,1.11,0.09,0.56,74.0,45.0,33.0,5.0,0.0,75.0,NaN,NaN,NaN,NaN,NaN,0.111111
3282,Thaïlande,Animaux Aquatiques Autre,1.0,1.28,0.01,0.14,86.0,110.0,1.0,25.0,0.0,86.0,NaN,NaN,NaN,NaN,0.0,0.227273
3283,Thaïlande,"Beurre, Ghee",4.0,0.17,0.46,0.00,11.0,NaN,12.0,1.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
3284,Thaïlande,Cephalopodes,5.0,2.12,0.07,0.97,142.0,128.0,86.0,72.0,NaN,142.0,NaN,NaN,NaN,0.0,0.0,0.562500
3285,Thaïlande,Crustacés,2.0,1.43,0.03,0.42,96.0,718.0,55.0,678.0,0.0,96.0,NaN,NaN,NaN,0.0,0.0,0.944290

In [91]:
alim_thai[alim_thai['Produit']=='Manioc']

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Production,Importations - Quantité,Exportations - Quantité,Variation de stock,Nourriture,Pertes,Semences,Traitement,Aliments pour animaux,Autres utilisations (non alimentaire),Ratio export/Production
14346,Thaïlande,Manioc,40.0,13.0,0.05,0.14,6264.0,30228.0,1250.0,25214.0,0.0,871.0,1511.0,NaN,0.0,1800.0,2081.0,0.834127

In [92]:
pays_sub_alim[pays_sub_alim['Zone']=='Thaïlande']

     Code zone       Zone  2012-2014
172        216  Thaïlande        5.6

In [93]:
population[population['Zone']=='Thaïlande']

     Code zone       Zone  Population
160        216  Thaïlande       67011

In [94]:
print('La proportion de personnes en sous-nutrition en Thaïlande est de {}%'.format((5.6*1000/67011)*100))

La proportion de personnes en sous-nutrition en Thaïlande est de 8.356836937219263%

In [95]:
disp_alim.head()

,Zone,Produit,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Population,Disp. Alimentaire (Kcal),Disp. Alimentaire (Kg),Ratio énergie/poids,Disp. de protéines (Kg),Ratio poids de protéines/poids total
0,Afghanistan,Abats Comestible,5.0,1.72,0.20,0.77,53.0,30552,5.575740e+10,5.254944e+07,1061.046512,8586639.6,0.163401
1,Afghanistan,"Beurre, Ghee",23.0,1.17,2.61,0.03,36.0,30552,2.564840e+11,3.574584e+07,7175.213675,334544.4,0.009359
2,Afghanistan,Crème,3.0,0.60,0.32,0.04,18.0,30552,3.345444e+10,1.833120e+07,1825.000000,446059.2,0.024333
3,Afghanistan,Graisses Animales Crue,12.0,0.49,1.31,0.01,15.0,30552,1.338178e+11,1.497048e+07,8938.775510,111514.8,0.007449
4,Afghanistan,Lait - Excl Beurre,100.0,62.23,5.19,6.12,2083.0,30552,1.115148e+12,1.901251e+09,586.533826,68247057.6,0.035896

In [96]:
animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [97]:
anim_df2 = pd.DataFrame(animaux)
anim_df2 = anim_df2.drop(columns = ['Code Domaine', 'Domaine', 'Code année', 'Symbole', 'Description du Symbole'])
anim_df2.head(10)

,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur
0,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00
1,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00
2,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00
3,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00
4,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59
5,2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2731,Viande de Bovins,2013,Kcal/personne/jour,27.00
6,2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2731,Viande de Bovins,2013,g/personne/jour,1.89
7,2,Afghanistan,684,Disponibilité de matière grasse en quantité (g...,2731,Viande de Bovins,2013,g/personne/jour,2.10
8,2,Afghanistan,5511,Production,2732,Viande d'Ovins/Caprins,2013,Milliers de tonnes,150.00
9,2,Afghanistan,5301,Disponibilité intérieure,2732,Viande d'Ovins/Caprins,2013,Milliers de tonnes,150.00

In [98]:
anim_df_ok2 = anim_df2.pivot(index=['Code zone','Zone','Produit','Code Produit','Année'],
                            columns='Élément', 
                            values='Valeur')
anim_df_ok2 = anim_df_ok2.rename_axis(None, axis=1)
anim_df_ok2.reset_index(inplace=True)
anim_df_ok2.head(10)

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,Abats Comestible,2736,2013,NaN,3.0,14.0,4.59,0.39,2.25,17.0,0.0,2.0,14.0,0.0,15.0,NaN,NaN,NaN
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1,Arménie,"Beurre, Ghee",2740,2013,NaN,NaN,35.0,1.76,3.90,0.04,5.0,0.0,5.0,5.0,NaN,1.0,NaN,NaN,NaN
3,1,Arménie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,1,Arménie,Crustacés,2765,2013,NaN,0.0,0.0,0.02,0.00,0.00,0.0,5.0,0.0,0.0,NaN,5.0,NaN,NaN,NaN
5,1,Arménie,Crème,2743,2013,NaN,NaN,0.0,0.01,0.01,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
6,1,Arménie,Graisses Animales Crue,2737,2013,NaN,0.0,78.0,3.83,8.63,0.22,11.0,NaN,8.0,11.0,0.0,3.0,NaN,NaN,0.0
7,1,Arménie,Huiles de Foie de Poisso,2782,2013,NaN,0.0,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,1,Arménie,Huiles de Poissons,2781,2013,NaN,0.0,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,1,Arménie,Lait - Excl Beurre,2848,2013,48.0,NaN,351.0,209.03,20.89,19.86,671.0,16.0,30.0,622.0,NaN,657.0,NaN,0.0,0.0

In [99]:
anim_df_ok2['origin'] = 'Animal'
anim_df_ok2.head()

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origin
0,1,Arménie,Abats Comestible,2736,2013,NaN,3.0,14.0,4.59,0.39,...,17.0,0.0,2.0,14.0,0.0,15.0,NaN,NaN,NaN,Animal
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
2,1,Arménie,"Beurre, Ghee",2740,2013,NaN,NaN,35.0,1.76,3.90,...,5.0,0.0,5.0,5.0,NaN,1.0,NaN,NaN,NaN,Animal
3,1,Arménie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
4,1,Arménie,Crustacés,2765,2013,NaN,0.0,0.0,0.02,0.00,...,0.0,5.0,0.0,0.0,NaN,5.0,NaN,NaN,NaN,Animal

In [100]:
veg_df2 = pd.DataFrame(vegetaux)
veg_df2 = veg_df2.drop(columns = ['Code Domaine', 'Domaine', 'Code année', 'Symbole', 'Description du Symbole'])
veg_df2.head(10)

,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur
0,2,Afghanistan,5511,Production,2511,Blé,2013,Milliers de tonnes,5169.00
1,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,Milliers de tonnes,1173.00
2,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,Milliers de tonnes,-350.00
3,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,Milliers de tonnes,5992.00
4,2,Afghanistan,5527,Semences,2511,Blé,2013,Milliers de tonnes,322.00
5,2,Afghanistan,5123,Pertes,2511,Blé,2013,Milliers de tonnes,775.00
6,2,Afghanistan,5142,Nourriture,2511,Blé,2013,Milliers de tonnes,4895.00
7,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,kg,160.23
8,2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,Kcal/personne/jour,1369.00
9,2,Afghanistan,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,g/personne/jour,36.91

In [101]:
veg_df_ok2 = veg_df2.pivot(index=['Code zone','Zone','Produit','Code Produit','Année'],
                            columns='Élément', 
                            values='Valeur')
veg_df_ok2 = veg_df_ok2.rename_axis(None, axis=1)
veg_df_ok2.reset_index(inplace=True)
veg_df_ok2.head(10)

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,"Agrumes, Autres",2614,2013,NaN,NaN,0.0,0.46,0.00,0.01,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,1,Arménie,"Alcool, non Comestible",2659,2013,NaN,0.0,NaN,NaN,NaN,NaN,0.0,3.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN
2,1,Arménie,Aliments pour enfants,2680,2013,NaN,NaN,2.0,0.16,0.01,0.07,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1,Arménie,Ananas,2618,2013,NaN,NaN,0.0,0.16,NaN,0.00,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,0.0
4,1,Arménie,Arachides Decortiquees,2556,2013,NaN,NaN,6.0,0.40,0.55,0.29,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
5,1,Arménie,Avoine,2516,2013,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
6,1,Arménie,Bananes,2615,2013,NaN,NaN,1.0,0.77,0.01,0.01,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
7,1,Arménie,Bananes plantains,2616,2013,NaN,NaN,5.0,2.55,0.02,0.06,8.0,NaN,8.0,8.0,NaN,NaN,NaN,NaN,NaN
8,1,Arménie,Bière,2656,2013,NaN,NaN,9.0,6.46,NaN,0.09,19.0,4.0,3.0,19.0,NaN,20.0,NaN,NaN,NaN
9,1,Arménie,Blé,2511,2013,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0

In [102]:
veg_df_ok2['origin'] = 'Végétal'
veg_df_ok2.head()

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origin
0,1,Arménie,"Agrumes, Autres",2614,2013,NaN,NaN,0.0,0.46,0.00,...,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,Végétal
1,1,Arménie,"Alcool, non Comestible",2659,2013,NaN,0.0,NaN,NaN,NaN,...,0.0,3.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN,Végétal
2,1,Arménie,Aliments pour enfants,2680,2013,NaN,NaN,2.0,0.16,0.01,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Végétal
3,1,Arménie,Ananas,2618,2013,NaN,NaN,0.0,0.16,NaN,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,0.0,Végétal
4,1,Arménie,Arachides Decortiquees,2556,2013,NaN,NaN,6.0,0.40,0.55,...,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,Végétal

In [103]:
aliments_df = pd.concat([anim_df_ok2,veg_df_ok2], ignore_index=True)
aliments_df.head(10)

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origin
0,1,Arménie,Abats Comestible,2736,2013,NaN,3.0,14.0,4.59,0.39,...,17.0,0.0,2.0,14.0,0.0,15.0,NaN,NaN,NaN,Animal
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
2,1,Arménie,"Beurre, Ghee",2740,2013,NaN,NaN,35.0,1.76,3.90,...,5.0,0.0,5.0,5.0,NaN,1.0,NaN,NaN,NaN,Animal
3,1,Arménie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
4,1,Arménie,Crustacés,2765,2013,NaN,0.0,0.0,0.02,0.00,...,0.0,5.0,0.0,0.0,NaN,5.0,NaN,NaN,NaN,Animal
5,1,Arménie,Crème,2743,2013,NaN,NaN,0.0,0.01,0.01,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
6,1,Arménie,Graisses Animales Crue,2737,2013,NaN,0.0,78.0,3.83,8.63,...,11.0,NaN,8.0,11.0,0.0,3.0,NaN,NaN,0.0,Animal
7,1,Arménie,Huiles de Foie de Poisso,2782,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
8,1,Arménie,Huiles de Poissons,2781,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
9,1,Arménie,Lait - Excl Beurre,2848,2013,48.0,NaN,351.0,209.03,20.89,...,671.0,16.0,30.0,622.0,NaN,657.0,NaN,0.0,0.0,Animal

In [104]:
aliments_df[aliments_df['Zone']=='Colombie']

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,origin
615,44,Colombie,Abats Comestible,2736,2013,NaN,NaN,8.0,2.90,0.21,...,140.0,2.0,7.0,140.0,NaN,135.0,NaN,NaN,NaN,Animal
616,44,Colombie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Animal
617,44,Colombie,"Beurre, Ghee",2740,2013,NaN,NaN,8.0,0.43,0.95,...,21.0,0.0,0.0,21.0,NaN,21.0,NaN,NaN,NaN,Animal
618,44,Colombie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.09,0.00,...,4.0,0.0,4.0,4.0,NaN,0.0,NaN,NaN,NaN,Animal
619,44,Colombie,Crustacés,2765,2013,NaN,0.0,0.0,0.09,0.00,...,4.0,11.0,5.0,4.0,NaN,10.0,NaN,NaN,0.0,Animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,44,Colombie,Sésame,2561,2013,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,1.0,NaN,0.0,3.0,0.0,3.0,0.0,Végétal
5769,44,Colombie,Thé,2635,2013,NaN,NaN,0.0,0.04,NaN,...,2.0,0.0,2.0,2.0,NaN,0.0,NaN,NaN,NaN,Végétal
5770,44,Colombie,Tomates,2601,2013,NaN,NaN,8.0,14.58,0.12,...,732.0,0.0,49.0,704.0,27.0,684.0,NaN,NaN,NaN,Végétal
5771,44,Colombie,Vin,2655,2013,NaN,NaN,1.0,0.35,NaN,...,17.0,0.0,17.0,17.0,NaN,NaN,NaN,NaN,0.0,Végétal
5772,44,Colombie,"Épices, Autres",2645,2013,NaN,NaN,4.0,0.47,0.19,...,23.0,1.0,3.0,23.0,NaN,21.0,NaN,NaN,0.0,Végétal

In [105]:
aliments_df.columns

Index(['Code zone', 'Zone', 'Produit', 'Code Produit', 'Année',
       'Aliments pour animaux', 'Autres utilisations (non alimentaire)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Semences', 'Traitement', 'Variation de stock', 'origin'],
      dtype='object')

In [106]:
dispo_alim = aliments_df.drop(columns = ['Aliments pour animaux', 'Autres utilisations (non alimentaire)', 
                                         'Importations - Quantité', 'Pertes', 'Production', 'Semences', 
                                         'Traitement', 'Variation de stock', 'Exportations - Quantité', 
                                         'Disponibilité alimentaire en quantité (kg/personne/an)', 
                                         'Disponibilité intérieure'])
dispo_alim.head()

,Code zone,Zone,Produit,Code Produit,Année,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Nourriture,origin
0,1,Arménie,Abats Comestible,2736,2013,14.0,0.39,2.25,14.0,Animal
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,0.0,0.00,0.00,0.0,Animal
2,1,Arménie,"Beurre, Ghee",2740,2013,35.0,3.90,0.04,5.0,Animal
3,1,Arménie,Cephalopodes,2766,2013,0.0,0.00,0.00,0.0,Animal
4,1,Arménie,Crustacés,2765,2013,0.0,0.00,0.00,0.0,Animal

In [107]:
dispo_alim['disp_alim_tonnes'] = dispo_alim['Nourriture']*1000
dispo_alim.head()

,Code zone,Zone,Produit,Code Produit,Année,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Nourriture,origin,disp_alim_tonnes
0,1,Arménie,Abats Comestible,2736,2013,14.0,0.39,2.25,14.0,Animal,14000.0
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,0.0,0.00,0.00,0.0,Animal,0.0
2,1,Arménie,"Beurre, Ghee",2740,2013,35.0,3.90,0.04,5.0,Animal,5000.0
3,1,Arménie,Cephalopodes,2766,2013,0.0,0.00,0.00,0.0,Animal,0.0
4,1,Arménie,Crustacés,2765,2013,0.0,0.00,0.00,0.0,Animal,0.0

In [108]:
dispo_alim = dispo_alim.rename(columns={'Code zone':'code_pays', 'Zone':'pays', 'Produit':'produit', 'Année':'année', 
                                      'Code Produit':'code_produit', 
                                      'Disponibilité alimentaire (Kcal/personne/jour)':'disp_alim_kcal_p_j',
                                      'Disponibilité de matière grasse en quantité (g/personne/jour)':'disp_mat_gr',
                                      'Disponibilité de protéines en quantité (g/personne/jour)':'disp_prot'})
dispo_alim = dispo_alim.drop(columns=['Nourriture'])
dispo_alim.head()

,code_pays,pays,produit,code_produit,année,disp_alim_kcal_p_j,disp_mat_gr,disp_prot,origin,disp_alim_tonnes
0,1,Arménie,Abats Comestible,2736,2013,14.0,0.39,2.25,Animal,14000.0
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,0.0,0.00,0.00,Animal,0.0
2,1,Arménie,"Beurre, Ghee",2740,2013,35.0,3.90,0.04,Animal,5000.0
3,1,Arménie,Cephalopodes,2766,2013,0.0,0.00,0.00,Animal,0.0
4,1,Arménie,Crustacés,2765,2013,0.0,0.00,0.00,Animal,0.0

In [109]:
dispo_alim.columns

Index(['code_pays', 'pays', 'produit', 'code_produit', 'année',
       'disp_alim_kcal_p_j', 'disp_mat_gr', 'disp_prot', 'origin',
       'disp_alim_tonnes'],
      dtype='object')

In [110]:
dispo_alim = dispo_alim[['pays', 'code_pays', 'année', 'produit', 'code_produit', 'origin',
                          'disp_alim_tonnes', 'disp_alim_kcal_p_j', 'disp_prot', 'disp_mat_gr']]
dispo_alim.head()

,pays,code_pays,année,produit,code_produit,origin,disp_alim_tonnes,disp_alim_kcal_p_j,disp_prot,disp_mat_gr
0,Arménie,1,2013,Abats Comestible,2736,Animal,14000.0,14.0,2.25,0.39
1,Arménie,1,2013,Animaux Aquatiques Autre,2769,Animal,0.0,0.0,0.00,0.00
2,Arménie,1,2013,"Beurre, Ghee",2740,Animal,5000.0,35.0,0.04,3.90
3,Arménie,1,2013,Cephalopodes,2766,Animal,0.0,0.0,0.00,0.00
4,Arménie,1,2013,Crustacés,2765,Animal,0.0,0.0,0.00,0.00

In [111]:
dispo_alim.to_csv("dispo_alim.csv", index = False)

In [112]:
dispo_alim['cle_primaire'] = dispo_alim['code_pays'].astype(str)+'_'+dispo_alim['code_produit'].astype(str)
dispo_alim.head()

,pays,code_pays,année,produit,code_produit,origin,disp_alim_tonnes,disp_alim_kcal_p_j,disp_prot,disp_mat_gr,cle_primaire
0,Arménie,1,2013,Abats Comestible,2736,Animal,14000.0,14.0,2.25,0.39,1_2736
1,Arménie,1,2013,Animaux Aquatiques Autre,2769,Animal,0.0,0.0,0.00,0.00,1_2769
2,Arménie,1,2013,"Beurre, Ghee",2740,Animal,5000.0,35.0,0.04,3.90,1_2740
3,Arménie,1,2013,Cephalopodes,2766,Animal,0.0,0.0,0.00,0.00,1_2766
4,Arménie,1,2013,Crustacés,2765,Animal,0.0,0.0,0.00,0.00,1_2765

In [113]:
pop_df.head()

   Code zone            Zone  Population
0          2     Afghanistan       30552
1        202  Afrique du Sud       52776
2          3         Albanie        3173
3          4         Algérie       39208
4         79       Allemagne       82727

In [114]:
pop_df['année'] = 2013
pop_df.head()

   Code zone            Zone  Population  année
0          2     Afghanistan       30552   2013
1        202  Afrique du Sud       52776   2013
2          3         Albanie        3173   2013
3          4         Algérie       39208   2013
4         79       Allemagne       82727   2013

In [115]:
pop_df = pop_df.rename(columns={'Code zone':'code_pays', 'Zone':'pays', 'Population':'population'})
pop_df = pop_df[['pays', 'code_pays', 'année', 'population']]
pop_df.head()

             pays  code_pays  année  population
0     Afghanistan          2   2013       30552
1  Afrique du Sud        202   2013       52776
2         Albanie          3   2013        3173
3         Algérie          4   2013       39208
4       Allemagne         79   2013       82727

In [116]:
population = pop_df
population.head()

             pays  code_pays  année  population
0     Afghanistan          2   2013       30552
1  Afrique du Sud        202   2013       52776
2         Albanie          3   2013        3173
3         Algérie          4   2013       39208
4       Allemagne         79   2013       82727

In [117]:
population.to_csv("population.csv", index = False)

In [118]:
equilibre_prod = aliments_df.drop(columns=['Disponibilité alimentaire (Kcal/personne/jour)',
                                           'Disponibilité alimentaire en quantité (kg/personne/an)',
                                           'Disponibilité de matière grasse en quantité (g/personne/jour)',
                                           'Disponibilité de protéines en quantité (g/personne/jour)',
                                           'Exportations - Quantité', 'Importations - Quantité', 'Production', 
                                           'Variation de stock', 'origin'])
equilibre_prod.head()

,Code zone,Zone,Produit,Code Produit,Année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,Nourriture,Pertes,Semences,Traitement
0,1,Arménie,Abats Comestible,2736,2013,NaN,3.0,17.0,14.0,0.0,NaN,NaN
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN
2,1,Arménie,"Beurre, Ghee",2740,2013,NaN,NaN,5.0,5.0,NaN,NaN,NaN
3,1,Arménie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,1,Arménie,Crustacés,2765,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN

In [119]:
equilibre_prod = equilibre_prod.rename(columns={'Code zone':'code_pays', 'Zone':'pays', 'Produit':'produit', 'Année':'année', 
                                        'Code Produit':'code_produit', 'Aliments pour animaux':'alim_ani', 
                                        'Autres utilisations (non alimentaire)': 'autres_utilisations',
                                        'Disponibilité intérieure':'disp_int', 'Nourriture':'nourriture', 'Pertes':'pertes', 
                                        'Traitement':'transfo', 'Semences':'semences'})
equilibre_prod.head()

,code_pays,pays,produit,code_produit,année,alim_ani,autres_utilisations,disp_int,nourriture,pertes,semences,transfo
0,1,Arménie,Abats Comestible,2736,2013,NaN,3.0,17.0,14.0,0.0,NaN,NaN
1,1,Arménie,Animaux Aquatiques Autre,2769,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN
2,1,Arménie,"Beurre, Ghee",2740,2013,NaN,NaN,5.0,5.0,NaN,NaN,NaN
3,1,Arménie,Cephalopodes,2766,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,1,Arménie,Crustacés,2765,2013,NaN,0.0,0.0,0.0,NaN,NaN,NaN

In [120]:
equilibre_prod.columns

Index(['code_pays', 'pays', 'produit', 'code_produit', 'année', 'alim_ani',
       'autres_utilisations', 'disp_int', 'nourriture', 'pertes', 'semences',
       'transfo'],
      dtype='object')

In [121]:
equilibre_prod = equilibre_prod[['pays', 'code_pays', 'année', 'produit', 'code_produit', 'disp_int',
                                 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture', 'autres_utilisations']]
equilibre_prod.head()

,pays,code_pays,année,produit,code_produit,disp_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
0,Arménie,1,2013,Abats Comestible,2736,17.0,NaN,NaN,0.0,NaN,14.0,3.0
1,Arménie,1,2013,Animaux Aquatiques Autre,2769,0.0,NaN,NaN,NaN,NaN,0.0,0.0
2,Arménie,1,2013,"Beurre, Ghee",2740,5.0,NaN,NaN,NaN,NaN,5.0,NaN
3,Arménie,1,2013,Cephalopodes,2766,0.0,NaN,NaN,NaN,NaN,0.0,0.0
4,Arménie,1,2013,Crustacés,2765,0.0,NaN,NaN,NaN,NaN,0.0,0.0

In [122]:
equilibre_prod = equilibre_prod.fillna(0)
equilibre_prod.head()

,pays,code_pays,année,produit,code_produit,disp_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations
0,Arménie,1,2013,Abats Comestible,2736,17.0,0.0,0.0,0.0,0.0,14.0,3.0
1,Arménie,1,2013,Animaux Aquatiques Autre,2769,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arménie,1,2013,"Beurre, Ghee",2740,5.0,0.0,0.0,0.0,0.0,5.0,0.0
3,Arménie,1,2013,Cephalopodes,2766,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Arménie,1,2013,Crustacés,2765,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
equilibre_prod.to_csv("equilibre_prod.csv", index = False)

In [124]:
str(equilibre_prod['code_pays'][0])

'1'

In [125]:
str(equilibre_prod['code_produit'][0])

'2736'

In [126]:
equilibre_prod['cle_primaire'] = equilibre_prod['code_pays'].astype(str)+'_'+equilibre_prod['code_produit'].astype(str)

In [127]:
equilibre_prod.head()

,pays,code_pays,année,produit,code_produit,disp_int,alim_ani,semences,pertes,transfo,nourriture,autres_utilisations,cle_primaire
0,Arménie,1,2013,Abats Comestible,2736,17.0,0.0,0.0,0.0,0.0,14.0,3.0,1_2736
1,Arménie,1,2013,Animaux Aquatiques Autre,2769,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1_2769
2,Arménie,1,2013,"Beurre, Ghee",2740,5.0,0.0,0.0,0.0,0.0,5.0,0.0,1_2740
3,Arménie,1,2013,Cephalopodes,2766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1_2766
4,Arménie,1,2013,Crustacés,2765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1_2765

In [128]:
sub_alim_df_ok.head()

,Code zone,Zone,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,Nombre de personnes sous-alimentées (millions)...,NaN,NaN,NaN,NaN,NaN

In [129]:
sub_alim_df_ok['année'] = 2013
sous_nutrition = sub_alim_df_ok.drop(columns = ['2013-2015', '2014-2016', '2015-2017', '2016-2018'])
sous_nutrition = sous_nutrition.fillna(0)
sous_nutrition.head()

,Code zone,Zone,Produit,2012-2014,année
0,1,Arménie,Nombre de personnes sous-alimentées (millions)...,0.1,2013
1,2,Afghanistan,Nombre de personnes sous-alimentées (millions)...,7.9,2013
2,3,Albanie,Nombre de personnes sous-alimentées (millions)...,0.2,2013
3,4,Algérie,Nombre de personnes sous-alimentées (millions)...,1.7,2013
4,5,Samoa américaines,Nombre de personnes sous-alimentées (millions)...,0.0,2013

In [130]:
sous_nutrition = sous_nutrition.rename(columns={'Code zone':'code_pays', 'Zone':'pays', '2012-2014':'nb_personnes'})
sous_nutrition = sous_nutrition.drop(columns = ['Produit'])
sous_nutrition.head()

   code_pays               pays  nb_personnes  année
0          1            Arménie           0.1   2013
1          2        Afghanistan           7.9   2013
2          3            Albanie           0.2   2013
3          4            Algérie           1.7   2013
4          5  Samoa américaines           0.0   2013

In [131]:
sous_nutrition = sous_nutrition[['pays', 'code_pays', 'année', 'nb_personnes']]
sous_nutrition.head()

                pays  code_pays  année  nb_personnes
0            Arménie          1   2013           0.1
1        Afghanistan          2   2013           7.9
2            Albanie          3   2013           0.2
3            Algérie          4   2013           1.7
4  Samoa américaines          5   2013           0.0

In [132]:
sous_nutrition.to_csv("sous_nutrition.csv", index = False)